flows/documentation/circuits-and-operators/Bit-ordering/Changing order of bits in Qiskit.json
[
    {
        "id": "2223dd71286e972f",
        "type": "tab",
        "label": "Changing Ordering in Qiskit",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3e96ad675dd194f3",
        "type": "inject",
        "z": "2223dd71286e972f",
        "name": "Start",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 120,
        "wires": [
            [
                "dde813e88af5ff70"
            ]
        ]
    },
    {
        "id": "dde813e88af5ff70",
        "type": "Change_ordering_in_Qiskit",
        "z": "2223dd71286e972f",
        "name": "Change ordering in Qiskit",
        "info": "To draw a circuit with qubits in reversed order (that is, qubit 0 at the bottom), use the reverse_bits argument. This only affects the generated diagram and does not affect the circuit; the X-gate still acts on qubit 0.\n          \nYou can use the reverse_bits method to return a new circuit with the qubits' labels reversed (this does not mutate the original circuit).",
        "x": 470,
        "y": 120,
        "wires": [
            [
                "4a8368fa0b60cf9d",
                "399c838ec1d93390"
            ]
        ]
    },
    {
        "id": "4a8368fa0b60cf9d",
        "type": "image",
        "z": "2223dd71286e972f",
        "name": "Circuit Diagram",
        "width": "400",
        "data": "payload.result.circuit_diagram",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": false,
        "outputs": 0,
        "x": 820,
        "y": 120,
        "wires": []
    },
    {
        "id": "399c838ec1d93390",
        "type": "image",
        "z": "2223dd71286e972f",
        "name": "Circuit Diagram Reverse using the revese_bits method",
        "width": "400",
        "data": "payload.result.circuit_diagram_reversed",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": false,
        "outputs": 0,
        "x": 960,
        "y": 640,
        "wires": []
    }
]