nodes/documentation/transpiler/pass-managers/quantum-computers/flow/quantum-computers.json
[
  {
    "id": "2d49d3b71aa7c27e",
    "type": "tab",
    "label": "quantum-computers",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "6ed9e0acad4c0329",
    "type": "inject",
    "z": "2d49d3b71aa7c27e",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 140,
    "y": 40,
    "wires": [
      [
        "dd5328968e8aeca7"
      ]
    ]
  },
  {
    "id": "b5cffdb9fdfd938b",
    "type": "debug",
    "z": "2d49d3b71aa7c27e",
    "name": "Basis Gates",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload.result.basis_gates",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1510,
    "y": 360,
    "wires": []
  },
  {
    "id": "a8dbe3a54fa75bfb",
    "type": "image",
    "z": "2d49d3b71aa7c27e",
    "name": "View gate structure",
    "width": "240",
    "data": "payload.result.qc_image",
    "dataType": "msg",
    "thumbnail": false,
    "active": true,
    "pass": false,
    "outputs": 0,
    "x": 430,
    "y": 40,
    "wires": []
  },
  {
    "id": "fab35ad3750f3969",
    "type": "image",
    "z": "2d49d3b71aa7c27e",
    "name": "View circuit",
    "width": "600",
    "data": "payload.result.qc_t_target",
    "dataType": "msg",
    "thumbnail": false,
    "active": true,
    "pass": false,
    "outputs": 0,
    "x": 710,
    "y": 40,
    "wires": [],
    "info": "This example shows that the coupling map and basis gates are essential for optimal circuit construction. The system can select default settings for other information, such as timing and scheduling, if not explicitly provided."
  },
  {
    "id": "c34ddad5ea84e2bb",
    "type": "image",
    "z": "2d49d3b71aa7c27e",
    "name": "View level 0 optimization",
    "width": "600",
    "data": "payload.result.qc_t_cm_lv0",
    "dataType": "msg",
    "thumbnail": false,
    "active": true,
    "pass": false,
    "outputs": 0,
    "x": 630,
    "y": 380,
    "wires": [],
    "info": "- **Level 0 Optimization**: \n  - SWAP gates inserted due to limited connectivity."
  },
  {
    "id": "f4143cc8f7646a9d",
    "type": "image",
    "z": "2d49d3b71aa7c27e",
    "name": "View circuit layout",
    "width": "400",
    "data": "payload.result.qc_t_cm_lv0_layout",
    "dataType": "msg",
    "thumbnail": false,
    "active": true,
    "pass": false,
    "outputs": 0,
    "x": 1190,
    "y": 380,
    "wires": [],
    "info": "This shows that our virtual qubits 0-11 were trivially mapped to the line of physical qubits 0-11. Let's return to the default (optimization_level=1), which uses VF2Layout if any routing is required."
  },
  {
    "id": "027f0ed4fccffeb1",
    "type": "image",
    "z": "2d49d3b71aa7c27e",
    "name": "View level 1 optimization",
    "width": "600",
    "data": "payload.result.qc_t_cm_lv1",
    "dataType": "msg",
    "thumbnail": false,
    "active": true,
    "pass": false,
    "outputs": 0,
    "x": 630,
    "y": 600,
    "wires": [],
    "info": "- **Level 1 Optimization**: \n  - No SWAP gates, better qubit mapping for the circuit."
  },
  {
    "id": "4f1a81aab0ab8a3c",
    "type": "image",
    "z": "2d49d3b71aa7c27e",
    "name": "View circuit layout",
    "width": "400",
    "data": "payload.result.qc_t_cm_lv1_layout",
    "dataType": "msg",
    "thumbnail": false,
    "active": true,
    "pass": false,
    "outputs": 0,
    "x": 1190,
    "y": 780,
    "wires": [],
    "info": "Now the layout is in a ring. Because this layout respects the circuit's connectivity, there are no SWAP gates, providing a much better circuit for execution."
  },
  {
    "id": "cfdfaaaccdbe1c95",
    "type": "image",
    "z": "2d49d3b71aa7c27e",
    "name": "View Circuit",
    "width": "600",
    "data": "payload.result.qc_t_cm_bg",
    "dataType": "msg",
    "thumbnail": false,
    "active": true,
    "pass": false,
    "outputs": 0,
    "x": 1610,
    "y": 480,
    "wires": [],
    "info": "- **Decomposition**: CX gates are decomposed into `ecr` gates and single-qubit basis gates.\n\n"
  },
  {
    "id": "c85a54ae8d5b3061",
    "type": "image",
    "z": "2d49d3b71aa7c27e",
    "name": "View Circuit",
    "width": "600",
    "data": "payload.result.qc_t_cm_bg_et",
    "dataType": "msg",
    "thumbnail": false,
    "active": true,
    "pass": false,
    "outputs": 0,
    "x": 1790,
    "y": 260,
    "wires": [],
    "info": "Because we included error information, the VF2PostLayout pass tries to find the optimal qubits to use, resulting in the same circuit that we found originally with the same physical qubits."
  },
  {
    "id": "dd5328968e8aeca7",
    "type": "transpilation-system-information",
    "z": "2d49d3b71aa7c27e",
    "name": "",
    "x": 130,
    "y": 260,
    "wires": [
      [
        "a8dbe3a54fa75bfb",
        "94d8983f07c10ba7"
      ]
    ]
  },
  {
    "id": "94d8983f07c10ba7",
    "type": "transpilation-default-configuration",
    "z": "2d49d3b71aa7c27e",
    "name": "",
    "x": 420,
    "y": 260,
    "wires": [
      [
        "fab35ad3750f3969",
        "ec1092f161064c5b",
        "706afa0e5f75173b"
      ]
    ]
  },
  {
    "id": "706afa0e5f75173b",
    "type": "transpilation-coupling-map-lv0",
    "z": "2d49d3b71aa7c27e",
    "name": "",
    "x": 710,
    "y": 260,
    "wires": [
      [
        "c34ddad5ea84e2bb",
        "f4143cc8f7646a9d",
        "ddb823ede629d296"
      ]
    ]
  },
  {
    "id": "ec1092f161064c5b",
    "type": "transpilation-coupling-map-lv1",
    "z": "2d49d3b71aa7c27e",
    "name": "",
    "x": 370,
    "y": 600,
    "wires": [
      [
        "027f0ed4fccffeb1",
        "4f1a81aab0ab8a3c"
      ]
    ]
  },
  {
    "id": "ddb823ede629d296",
    "type": "transpilation-basis-gates",
    "z": "2d49d3b71aa7c27e",
    "name": "",
    "x": 1150,
    "y": 260,
    "wires": [
      [
        "767446703b788fc5",
        "b5cffdb9fdfd938b",
        "cfdfaaaccdbe1c95"
      ]
    ]
  },
  {
    "id": "767446703b788fc5",
    "type": "transpilation-error-rates",
    "z": "2d49d3b71aa7c27e",
    "name": "",
    "x": 1490,
    "y": 260,
    "wires": [
      [
        "c85a54ae8d5b3061"
      ]
    ]
  }
]