nodes/documentation/transpiler/pass-managers/quantum-computers/flow/quantum-computers.json
[
  {
    "id": "2d49d3b71aa7c27e",
    "type": "tab",
    "label": "quantum-computers",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "6ed9e0acad4c0329",
    "type": "inject",
    "z": "2d49d3b71aa7c27e",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 140,
    "y": 60,
    "wires": [
      [
        "8b0d6250bfbd14d1"
      ]
    ]
  },
  {
    "id": "b5cffdb9fdfd938b",
    "type": "debug",
    "z": "2d49d3b71aa7c27e",
    "name": "debug 4",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload.result.basis_gates",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1500,
    "y": 360,
    "wires": []
  },
  {
    "id": "a8dbe3a54fa75bfb",
    "type": "image",
    "z": "2d49d3b71aa7c27e",
    "name": "",
    "width": "240",
    "data": "payload.result.qc_image",
    "dataType": "msg",
    "thumbnail": false,
    "active": true,
    "pass": false,
    "outputs": 0,
    "x": 420,
    "y": 40,
    "wires": []
  },
  {
    "id": "fab35ad3750f3969",
    "type": "image",
    "z": "2d49d3b71aa7c27e",
    "name": "",
    "width": "600",
    "data": "payload.result.qc_t_target",
    "dataType": "msg",
    "thumbnail": false,
    "active": true,
    "pass": false,
    "outputs": 0,
    "x": 720,
    "y": 40,
    "wires": []
  },
  {
    "id": "c34ddad5ea84e2bb",
    "type": "image",
    "z": "2d49d3b71aa7c27e",
    "name": "",
    "width": "600",
    "data": "payload.result.qc_t_cm_lv0",
    "dataType": "msg",
    "thumbnail": false,
    "active": true,
    "pass": false,
    "outputs": 0,
    "x": 600,
    "y": 380,
    "wires": []
  },
  {
    "id": "f4143cc8f7646a9d",
    "type": "image",
    "z": "2d49d3b71aa7c27e",
    "name": "",
    "width": "400",
    "data": "payload.result.qc_t_cm_lv0_layout",
    "dataType": "msg",
    "thumbnail": false,
    "active": true,
    "pass": false,
    "outputs": 0,
    "x": 1180,
    "y": 380,
    "wires": []
  },
  {
    "id": "027f0ed4fccffeb1",
    "type": "image",
    "z": "2d49d3b71aa7c27e",
    "name": "",
    "width": "600",
    "data": "payload.result.qc_t_cm_lv1",
    "dataType": "msg",
    "thumbnail": false,
    "active": true,
    "pass": false,
    "outputs": 0,
    "x": 600,
    "y": 600,
    "wires": []
  },
  {
    "id": "4f1a81aab0ab8a3c",
    "type": "image",
    "z": "2d49d3b71aa7c27e",
    "name": "",
    "width": "400",
    "data": "payload.result.qc_t_cm_lv1_layout",
    "dataType": "msg",
    "thumbnail": false,
    "active": true,
    "pass": false,
    "outputs": 0,
    "x": 1180,
    "y": 780,
    "wires": []
  },
  {
    "id": "cfdfaaaccdbe1c95",
    "type": "image",
    "z": "2d49d3b71aa7c27e",
    "name": "",
    "width": "600",
    "data": "payload.result.qc_t_cm_bg",
    "dataType": "msg",
    "thumbnail": false,
    "active": true,
    "pass": false,
    "outputs": 0,
    "x": 1620,
    "y": 480,
    "wires": []
  },
  {
    "id": "c85a54ae8d5b3061",
    "type": "image",
    "z": "2d49d3b71aa7c27e",
    "name": "",
    "width": "600",
    "data": "payload.result.qc_t_cm_bg_et",
    "dataType": "msg",
    "thumbnail": false,
    "active": true,
    "pass": false,
    "outputs": 0,
    "x": 1800,
    "y": 260,
    "wires": []
  },
  {
    "id": "8b0d6250bfbd14d1",
    "type": "transpilation-system-information",
    "z": "2d49d3b71aa7c27e",
    "name": "",
    "x": 130,
    "y": 260,
    "wires": [
      [
        "a4d2f07c48b77aad",
        "a8dbe3a54fa75bfb"
      ]
    ]
  },
  {
    "id": "a4d2f07c48b77aad",
    "type": "transpilation-default-configuration",
    "z": "2d49d3b71aa7c27e",
    "name": "",
    "x": 360,
    "y": 260,
    "wires": [
      [
        "e570104b6cb81e4f",
        "0d83b1d78f220423",
        "fab35ad3750f3969"
      ]
    ]
  },
  {
    "id": "e570104b6cb81e4f",
    "type": "transpilation-coupling-map-lv0",
    "z": "2d49d3b71aa7c27e",
    "name": "",
    "x": 690,
    "y": 260,
    "wires": [
      [
        "ce7eb166b1315262",
        "f4143cc8f7646a9d",
        "c34ddad5ea84e2bb"
      ]
    ]
  },
  {
    "id": "0d83b1d78f220423",
    "type": "transpilation-coupling-map-lv1",
    "z": "2d49d3b71aa7c27e",
    "name": "",
    "x": 410,
    "y": 580,
    "wires": [
      [
        "027f0ed4fccffeb1",
        "4f1a81aab0ab8a3c"
      ]
    ]
  },
  {
    "id": "ce7eb166b1315262",
    "type": "transpilation-basis-gates",
    "z": "2d49d3b71aa7c27e",
    "name": "",
    "x": 1070,
    "y": 260,
    "wires": [
      [
        "2cc9a897b6d83cab",
        "b5cffdb9fdfd938b",
        "cfdfaaaccdbe1c95"
      ]
    ]
  },
  {
    "id": "2cc9a897b6d83cab",
    "type": "transpilation-error-rates",
    "z": "2d49d3b71aa7c27e",
    "name": "",
    "x": 1490,
    "y": 260,
    "wires": [
      [
        "c85a54ae8d5b3061"
      ]
    ]
  }
]