nodes/documentation/transpiler/pass-managers/optimization/flow/optimization.json
[
  {
    "id": "7ac8cf4cc4e5a610",
    "type": "tab",
    "label": "optimization",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "f63db4f5cc76da52",
    "type": "inject",
    "z": "7ac8cf4cc4e5a610",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 220,
    "y": 160,
    "wires": [
      [
        "fcac399de92c8a4f"
      ]
    ]
  },
  {
    "id": "eb607f1b85302a51",
    "type": "image",
    "z": "7ac8cf4cc4e5a610",
    "name": "View circuit",
    "width": "200",
    "data": "payload.result.qc_image",
    "dataType": "msg",
    "thumbnail": false,
    "active": true,
    "pass": false,
    "outputs": 0,
    "x": 190,
    "y": 420,
    "wires": []
  },
  {
    "id": "feace14a7e7d4e99",
    "type": "image",
    "z": "7ac8cf4cc4e5a610",
    "name": "View optimization level 0",
    "width": "600",
    "data": "payload.result.qc_t0_image",
    "dataType": "msg",
    "thumbnail": false,
    "active": true,
    "pass": false,
    "outputs": 0,
    "x": 550,
    "y": 460,
    "wires": [],
    "info": "The transpiled circuit has six of the two-qubit ECR gates."
  },
  {
    "id": "2a6ee117da08ae3e",
    "type": "image",
    "z": "7ac8cf4cc4e5a610",
    "name": "View approximations circuit",
    "width": "600",
    "data": "payload.result.qc_t3_approx_image",
    "dataType": "msg",
    "thumbnail": false,
    "active": true,
    "pass": false,
    "outputs": 0,
    "x": 1180,
    "y": 880,
    "wires": []
  },
  {
    "id": "8dc803d8567edf96",
    "type": "debug",
    "z": "7ac8cf4cc4e5a610",
    "name": "Synthesis fidelity of Exact",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload.result.synthesis_fidelity_exact",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1430,
    "y": 300,
    "wires": []
  },
  {
    "id": "6a32b9861b67070c",
    "type": "debug",
    "z": "7ac8cf4cc4e5a610",
    "name": "Synthesis fidelity of Approximate",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload.result.synthesis_fidelity_approx",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1460,
    "y": 360,
    "wires": []
  },
  {
    "id": "95e959387e28f2d6",
    "type": "image",
    "z": "7ac8cf4cc4e5a610",
    "name": "View optimization level 1",
    "width": "600",
    "data": "payload.result.qc_t1_image",
    "dataType": "msg",
    "thumbnail": false,
    "active": true,
    "pass": false,
    "outputs": 0,
    "x": 550,
    "y": 620,
    "wires": [],
    "info": "The transpiled circuit still has six ECR gates, but the number of single-qubit gates has reduced."
  },
  {
    "id": "18e0d2839ff9940e",
    "type": "image",
    "z": "7ac8cf4cc4e5a610",
    "name": "View optimization level 3",
    "width": "600",
    "data": "payload.result.qc_t3_image",
    "dataType": "msg",
    "thumbnail": false,
    "active": true,
    "pass": false,
    "outputs": 0,
    "x": 550,
    "y": 900,
    "wires": [],
    "info": "Now, there are only three ECR gates."
  },
  {
    "id": "47430aa321209b8a",
    "type": "image",
    "z": "7ac8cf4cc4e5a610",
    "name": "View optimization level 2",
    "width": "600",
    "data": "payload.result.qc_t2_image",
    "dataType": "msg",
    "thumbnail": false,
    "active": true,
    "pass": false,
    "outputs": 0,
    "x": 550,
    "y": 780,
    "wires": [],
    "info": "This yields the same results as optimization level 1. Note that increasing the level of optimization does not always make a difference."
  },
  {
    "id": "fcac399de92c8a4f",
    "type": "transpilation-random-unitary",
    "z": "7ac8cf4cc4e5a610",
    "name": "",
    "x": 240,
    "y": 300,
    "wires": [
      [
        "355ef61fdca2452d",
        "eb607f1b85302a51"
      ]
    ]
  },
  {
    "id": "355ef61fdca2452d",
    "type": "transpilation-set-optimization",
    "z": "7ac8cf4cc4e5a610",
    "name": "",
    "x": 500,
    "y": 300,
    "wires": [
      [
        "31c211975bb67fc9",
        "feace14a7e7d4e99",
        "95e959387e28f2d6",
        "47430aa321209b8a",
        "18e0d2839ff9940e"
      ]
    ]
  },
  {
    "id": "31c211975bb67fc9",
    "type": "transpilation-fewer-gates-approx",
    "z": "7ac8cf4cc4e5a610",
    "name": "",
    "x": 850,
    "y": 300,
    "wires": [
      [
        "a44cfbc98b73563d",
        "2a6ee117da08ae3e"
      ]
    ]
  },
  {
    "id": "a44cfbc98b73563d",
    "type": "transpilation-synthesis-fidelity",
    "z": "7ac8cf4cc4e5a610",
    "name": "",
    "x": 1200,
    "y": 300,
    "wires": [
      [
        "8dc803d8567edf96",
        "6a32b9861b67070c"
      ]
    ]
  }
]