nodes/documentation/circuits-and-operators/pauli-basis-observables/flow/flow.json
[
  {
    "id": "b292a99201adebe2",
    "type": "tab",
    "label": "Flow 2",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "c9945e2a3bd3d6ee",
    "type": "image",
    "z": "b292a99201adebe2",
    "name": "",
    "width": "500",
    "data": "payload.result.circuit_image",
    "dataType": "msg",
    "thumbnail": false,
    "active": true,
    "pass": false,
    "outputs": 0,
    "x": 980,
    "y": 560,
    "wires": []
  },
  {
    "id": "d0bfaba8e06c5d4e",
    "type": "inject",
    "z": "b292a99201adebe2",
    "name": "Start",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 250,
    "y": 560,
    "wires": [["c79f4329ebcdc020"]]
  },
  {
    "id": "c79f4329ebcdc020",
    "type": "Measure-Pauli-Bases",
    "z": "b292a99201adebe2",
    "name": "",
    "x": 600,
    "y": 560,
    "wires": [["c9945e2a3bd3d6ee"]]
  }
]
