nodes/documentation/transpiler/pass-managers/parameters/flow/parameters.json
[
  {
    "id": "f052e07e5fe87552",
    "type": "tab",
    "label": "parameters",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "8af0f1ca277eb1a3",
    "type": "inject",
    "z": "f052e07e5fe87552",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 240,
    "y": 80,
    "wires": [
      [
        "5255b247bbb9cb94"
      ]
    ]
  },
  {
    "id": "2388eb779958cce7",
    "type": "image",
    "z": "f052e07e5fe87552",
    "name": "View optimized circuit",
    "width": "600",
    "data": "payload.result.optimized_1_image",
    "dataType": "msg",
    "thumbnail": false,
    "active": true,
    "pass": false,
    "outputs": 0,
    "x": 280,
    "y": 300,
    "wires": []
  },
  {
    "id": "9cd8194a5b01ee9f",
    "type": "image",
    "z": "f052e07e5fe87552",
    "name": "View transpiled circuit",
    "width": "600",
    "data": "payload.result.transpiled_circ_image",
    "dataType": "msg",
    "thumbnail": false,
    "active": true,
    "pass": false,
    "outputs": 0,
    "x": 280,
    "y": 440,
    "wires": []
  },
  {
    "id": "f3ea8843f78f2a20",
    "type": "image",
    "z": "f052e07e5fe87552",
    "name": "View error information of device",
    "width": "600",
    "data": "payload.result.error_map",
    "dataType": "msg",
    "thumbnail": false,
    "active": true,
    "pass": false,
    "outputs": 0,
    "x": 930,
    "y": 280,
    "wires": []
  },
  {
    "id": "5018dfc9c42d5cac",
    "type": "debug",
    "z": "f052e07e5fe87552",
    "name": "approximation",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload.result.optimal_cx_num",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 500,
    "y": 120,
    "wires": [],
    "info": "This yields an output of 2 because the approximation requires fewer CX gates."
  },
  {
    "id": "2f9d50c3ecbb9a9c",
    "type": "transpilation-initial-layout",
    "z": "f052e07e5fe87552",
    "name": "",
    "x": 730,
    "y": 200,
    "wires": [
      [
        "3b2ee984cbcb5488",
        "9cd8194a5b01ee9f"
      ]
    ]
  },
  {
    "id": "3b2ee984cbcb5488",
    "type": "transpilation-error-map",
    "z": "f052e07e5fe87552",
    "name": "",
    "x": 900,
    "y": 200,
    "wires": [
      [
        "f3ea8843f78f2a20"
      ]
    ]
  },
  {
    "id": "37190074411946ce",
    "type": "transpilation-number-generator-seed",
    "z": "f052e07e5fe87552",
    "name": "",
    "x": 490,
    "y": 200,
    "wires": [
      [
        "2f9d50c3ecbb9a9c",
        "2388eb779958cce7"
      ]
    ]
  },
  {
    "id": "5255b247bbb9cb94",
    "type": "transpilation-approximation-degree",
    "z": "f052e07e5fe87552",
    "name": "",
    "x": 200,
    "y": 200,
    "wires": [
      [
        "5018dfc9c42d5cac",
        "37190074411946ce"
      ]
    ]
  }
]