nodes/documentation/transpiler/pass-managers/parameters/flow/parameters.json
[
  {
    "id": "f052e07e5fe87552",
    "type": "tab",
    "label": "parameters",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "8af0f1ca277eb1a3",
    "type": "inject",
    "z": "f052e07e5fe87552",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 80,
    "y": 80,
    "wires": [
      [
        "e4281f48b854fbb9"
      ]
    ]
  },
  {
    "id": "2388eb779958cce7",
    "type": "image",
    "z": "f052e07e5fe87552",
    "name": "",
    "width": "600",
    "data": "payload.result.optimized_1_image",
    "dataType": "msg",
    "thumbnail": false,
    "active": true,
    "pass": false,
    "outputs": 0,
    "x": 100,
    "y": 300,
    "wires": []
  },
  {
    "id": "9cd8194a5b01ee9f",
    "type": "image",
    "z": "f052e07e5fe87552",
    "name": "",
    "width": "600",
    "data": "payload.result.transpiled_circ_image",
    "dataType": "msg",
    "thumbnail": false,
    "active": true,
    "pass": false,
    "outputs": 0,
    "x": 100,
    "y": 440,
    "wires": []
  },
  {
    "id": "f3ea8843f78f2a20",
    "type": "image",
    "z": "f052e07e5fe87552",
    "name": "",
    "width": "600",
    "data": "payload.result.error_map",
    "dataType": "msg",
    "thumbnail": false,
    "active": true,
    "pass": false,
    "outputs": 0,
    "x": 660,
    "y": 280,
    "wires": []
  },
  {
    "id": "5018dfc9c42d5cac",
    "type": "debug",
    "z": "f052e07e5fe87552",
    "name": "debug 3",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload.result.optimal_cx_num",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 320,
    "y": 120,
    "wires": []
  },
  {
    "id": "e4281f48b854fbb9",
    "type": "transpilation-approximation-degree",
    "z": "f052e07e5fe87552",
    "name": "",
    "x": 100,
    "y": 220,
    "wires": [
      [
        "fea6c12e19d35813",
        "5018dfc9c42d5cac"
      ]
    ]
  },
  {
    "id": "fea6c12e19d35813",
    "type": "transpilation-number-generator-seed",
    "z": "f052e07e5fe87552",
    "name": "",
    "x": 370,
    "y": 220,
    "wires": [
      [
        "f687b017bc633651",
        "2388eb779958cce7"
      ]
    ]
  },
  {
    "id": "f687b017bc633651",
    "type": "transpilation-initial-layout",
    "z": "f052e07e5fe87552",
    "name": "",
    "x": 650,
    "y": 220,
    "wires": [
      [
        "c5f4215d3054b96a",
        "9cd8194a5b01ee9f"
      ]
    ]
  },
  {
    "id": "c5f4215d3054b96a",
    "type": "transpilation-error-map",
    "z": "f052e07e5fe87552",
    "name": "",
    "x": 920,
    "y": 220,
    "wires": [
      [
        "f3ea8843f78f2a20"
      ]
    ]
  }
]