nodes/documentation/transpiler/pass-managers/parameters/flow/transpilation-parameters.json
[
    {
        "id": "f052e07e5fe87552",
        "type": "tab",
        "label": "Transpilation parameters",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2388eb779958cce7",
        "type": "image",
        "z": "f052e07e5fe87552",
        "name": "View optimized circuit",
        "width": "600",
        "data": "payload.result.circuit_diagram",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": false,
        "outputs": 0,
        "x": 1020,
        "y": 280,
        "wires": []
    },
    {
        "id": "9cd8194a5b01ee9f",
        "type": "image",
        "z": "f052e07e5fe87552",
        "name": "View transpiled circuit",
        "width": "600",
        "data": "payload.result.circuit_diagram",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": false,
        "outputs": 0,
        "x": 540,
        "y": 480,
        "wires": []
    },
    {
        "id": "f3ea8843f78f2a20",
        "type": "image",
        "z": "f052e07e5fe87552",
        "name": "View error information of device",
        "width": "600",
        "data": "payload.result.error_map",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": false,
        "outputs": 0,
        "x": 550,
        "y": 680,
        "wires": []
    },
    {
        "id": "5018dfc9c42d5cac",
        "type": "debug",
        "z": "f052e07e5fe87552",
        "name": "approximation",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.result.optimal_cx_num",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 280,
        "wires": [],
        "info": "This yields an output of 2 because the approximation requires fewer CX gates."
    },
    {
        "id": "1ba45ffb2f7839da",
        "type": "inject",
        "z": "f052e07e5fe87552",
        "name": "Start",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 220,
        "wires": [
            [
                "f1dd5cc9ecf39891"
            ]
        ]
    },
    {
        "id": "9238d9eac2b340f9",
        "type": "inject",
        "z": "f052e07e5fe87552",
        "name": "Start",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 420,
        "wires": [
            [
                "c4476fcc5917f471"
            ]
        ]
    },
    {
        "id": "1beec6c6f2db18d6",
        "type": "inject",
        "z": "f052e07e5fe87552",
        "name": "Start",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 620,
        "wires": [
            [
                "ab18aa1925b9b11b"
            ]
        ]
    },
    {
        "id": "c1253b7828770d29",
        "type": "move-to-next-node",
        "z": "f052e07e5fe87552",
        "name": "Next",
        "x": 550,
        "y": 220,
        "wires": [
            [
                "5d2ff981c3fe62ae"
            ]
        ]
    },
    {
        "id": "f1dd5cc9ecf39891",
        "type": "transpilation-approximation-degree",
        "z": "f052e07e5fe87552",
        "name": "Approximation degree",
        "x": 340,
        "y": 220,
        "wires": [
            [
                "c1253b7828770d29",
                "5018dfc9c42d5cac"
            ]
        ]
    },
    {
        "id": "5d2ff981c3fe62ae",
        "type": "transpilation-number-generator-seed",
        "z": "f052e07e5fe87552",
        "name": "Number generator seed",
        "x": 750,
        "y": 220,
        "wires": [
            [
                "2388eb779958cce7"
            ]
        ]
    },
    {
        "id": "c4476fcc5917f471",
        "type": "transpilation-initial-layout",
        "z": "f052e07e5fe87552",
        "name": "Initial layout",
        "x": 310,
        "y": 420,
        "wires": [
            [
                "9cd8194a5b01ee9f"
            ]
        ]
    },
    {
        "id": "ab18aa1925b9b11b",
        "type": "transpilation-error-map",
        "z": "f052e07e5fe87552",
        "name": "Error map",
        "x": 300,
        "y": 620,
        "wires": [
            [
                "f3ea8843f78f2a20"
            ]
        ]
    }
]