flows/documentation/circuits-and-operators/Saving_circuits_to_disk/saving-reloading.json
[
    {
        "id": "2223dd71286e972f",
        "type": "tab",
        "label": "Saving and Reloading",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3e96ad675dd194f3",
        "type": "inject",
        "z": "2223dd71286e972f",
        "name": "Start",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 120,
        "wires": [
            [
                "1ddcb99739666176"
            ]
        ]
    },
    {
        "id": "4a8368fa0b60cf9d",
        "type": "image",
        "z": "2223dd71286e972f",
        "name": "Circuit Diagram",
        "width": "400",
        "data": "payload.result.circuit_diagram",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": false,
        "outputs": 0,
        "x": 880,
        "y": 560,
        "wires": [],
        "info": "Image reloaded from test.qpy"
    },
    {
        "id": "1ddcb99739666176",
        "type": "Saving",
        "z": "2223dd71286e972f",
        "name": "Saving",
        "info": "Use QPY serialization to save your circuit to file. QPY files store the full Qiskit circuit object and will be compatible with newer versions of Qiskit (although not necessarily with older versions of Qiskit).\n                  \nTo demonstrate, the following cell creates a simple quantum circuit.",
        "x": 510,
        "y": 120,
        "wires": [
            [
                "e966c9cf1eefacf7",
                "31c61956a86bcdc9"
            ]
        ]
    },
    {
        "id": "e966c9cf1eefacf7",
        "type": "reload",
        "z": "2223dd71286e972f",
        "name": "reload",
        "info": "This circuit is now saved to the file test.qpy. If you restart your Python kernel, you can re-load the circuit using the qpy.load function. Note that this always returns a list of circuits, even if you only serialized one circuit.",
        "x": 550,
        "y": 560,
        "wires": [
            [
                "4a8368fa0b60cf9d"
            ]
        ]
    },
    {
        "id": "31c61956a86bcdc9",
        "type": "debug",
        "z": "2223dd71286e972f",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload.result.result",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 850,
        "y": 120,
        "wires": []
    }
]