flows/documentation/transpiler/get-started-with-the-qiskit-transpiler/Transpile with pass managers.json
[
    {
        "id": "a5cc357c526c3889",
        "type": "tab",
        "label": "流程 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8f4af9996164cf56",
        "type": "pass_manage",
        "z": "a5cc357c526c3889",
        "name": "pass_manage",
        "token": "None",
        "x": 440,
        "y": 120,
        "wires": [
            [
                "b8a7a7441c9e2432",
                "bf55104aa825c98d",
                "99edb36be37c4caa"
            ]
        ]
    },
    {
        "id": "39913153a46f0ce8",
        "type": "inject",
        "z": "a5cc357c526c3889",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 120,
        "wires": [
            [
                "8f4af9996164cf56"
            ]
        ]
    },
    {
        "id": "b8a7a7441c9e2432",
        "type": "image",
        "z": "a5cc357c526c3889",
        "name": "",
        "width": "500",
        "data": "payload.result.own_pass_manager_example_image",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": false,
        "outputs": 0,
        "x": 660,
        "y": 300,
        "wires": []
    },
    {
        "id": "bf55104aa825c98d",
        "type": "image",
        "z": "a5cc357c526c3889",
        "name": "",
        "width": "500",
        "data": "payload.result.transpiled_circuit_image",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": false,
        "outputs": 0,
        "x": 120,
        "y": 320,
        "wires": []
    },
    {
        "id": "99edb36be37c4caa",
        "type": "image",
        "z": "a5cc357c526c3889",
        "name": "",
        "width": "500",
        "data": "payload.result.translated_image",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": false,
        "outputs": 0,
        "x": 1240,
        "y": 300,
        "wires": []
    }
]