flows/documentation/transpiler/get-started-with-the-qiskit-transpiler/Transpiler stages.json
[
    {
        "id": "1cf38139db7af885",
        "type": "tab",
        "label": "流程 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "10622515b013da9a",
        "type": "routing",
        "z": "1cf38139db7af885",
        "name": "Routing-Stage",
        "x": 380,
        "y": 120,
        "wires": [
            [
                "293837f931d673a0",
                "982d6a2837848b15",
                "2440a24c6e527bac",
                "1e642d19771ee33b"
            ]
        ]
    },
    {
        "id": "b7ad39e8ecefbeeb",
        "type": "inject",
        "z": "1cf38139db7af885",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 120,
        "wires": [
            [
                "10622515b013da9a"
            ]
        ]
    },
    {
        "id": "293837f931d673a0",
        "type": "image",
        "z": "1cf38139db7af885",
        "name": "",
        "width": "500",
        "data": "payload.result.layout_image",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": false,
        "outputs": 0,
        "x": 880,
        "y": 680,
        "wires": []
    },
    {
        "id": "982d6a2837848b15",
        "type": "image",
        "z": "1cf38139db7af885",
        "name": "",
        "width": "500",
        "data": "payload.result.circuit_image",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": false,
        "outputs": 0,
        "x": 200,
        "y": 680,
        "wires": []
    },
    {
        "id": "2440a24c6e527bac",
        "type": "image",
        "z": "1cf38139db7af885",
        "name": "",
        "width": "500",
        "data": "payload.result.qubit_image",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": false,
        "outputs": 0,
        "x": 200,
        "y": 280,
        "wires": []
    },
    {
        "id": "1e642d19771ee33b",
        "type": "translation",
        "z": "1cf38139db7af885",
        "name": "Translation-Stage",
        "x": 890,
        "y": 120,
        "wires": [
            [
                "17763e6f9d845e27",
                "f838aa8a1dd09e05",
                "bf4deb5d045311b8"
            ]
        ]
    },
    {
        "id": "17763e6f9d845e27",
        "type": "image",
        "z": "1cf38139db7af885",
        "name": "",
        "width": "500",
        "data": "payload.result.qubit_circuit_image",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": false,
        "outputs": 0,
        "x": 1340,
        "y": 360,
        "wires": []
    },
    {
        "id": "f838aa8a1dd09e05",
        "type": "image",
        "z": "1cf38139db7af885",
        "name": "",
        "width": "500",
        "data": "payload.result.qubit_circuit_image_2",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": false,
        "outputs": 0,
        "x": 760,
        "y": 340,
        "wires": []
    },
    {
        "id": "bf4deb5d045311b8",
        "type": "optimization",
        "z": "1cf38139db7af885",
        "name": "optimization-Stage",
        "x": 1350,
        "y": 120,
        "wires": [
            [
                "7410c011cc8435d9",
                "d130ca65ce791843"
            ]
        ]
    },
    {
        "id": "7410c011cc8435d9",
        "type": "image",
        "z": "1cf38139db7af885",
        "name": "",
        "width": "500",
        "data": "payload.result.optimization_image",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": false,
        "outputs": 0,
        "x": 1540,
        "y": 760,
        "wires": []
    },
    {
        "id": "d130ca65ce791843",
        "type": "scheduling",
        "z": "1cf38139db7af885",
        "name": "scheduling-Stage",
        "x": 1810,
        "y": 120,
        "wires": [
            [
                "6223af02dc5b0705",
                "b7425b67410dd071"
            ]
        ]
    },
    {
        "id": "6223af02dc5b0705",
        "type": "image",
        "z": "1cf38139db7af885",
        "name": "",
        "width": "500",
        "data": "payload.result.circ_image",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": false,
        "outputs": 0,
        "x": 2020,
        "y": 280,
        "wires": []
    },
    {
        "id": "b7425b67410dd071",
        "type": "image",
        "z": "1cf38139db7af885",
        "name": "",
        "width": "300",
        "data": "payload.result.circ_timeline_image",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": false,
        "outputs": 0,
        "x": 2180,
        "y": 780,
        "wires": []
    }
]