nodes/documentation/transpiler/pass-managers/default-settings/flow/default-setting.json
[
  {
    "id": "fcd13e60cf7c3c29",
    "type": "tab",
    "label": "default setting",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "5ee77c81912491e3",
    "type": "image",
    "z": "fcd13e60cf7c3c29",
    "name": "View circuit",
    "width": "600",
    "data": "payload.result.qc_image",
    "dataType": "msg",
    "thumbnail": false,
    "active": true,
    "pass": false,
    "outputs": 0,
    "x": 150,
    "y": 340,
    "wires": []
  },
  {
    "id": "86a161272f1abc84",
    "type": "image",
    "z": "fcd13e60cf7c3c29",
    "name": "View transpiled circuit",
    "width": "600",
    "data": "payload.result.transpiled_circ_image",
    "dataType": "msg",
    "thumbnail": false,
    "active": true,
    "pass": false,
    "outputs": 0,
    "x": 780,
    "y": 340,
    "wires": []
  },
  {
    "id": "8729822f3284b9f3",
    "type": "inject",
    "z": "fcd13e60cf7c3c29",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 80,
    "y": 60,
    "wires": [
      [
        "f80a663dbbdffae2"
      ]
    ]
  },
  {
    "id": "f80a663dbbdffae2",
    "type": "transpilation-circuit-for-pm",
    "z": "fcd13e60cf7c3c29",
    "name": "",
    "x": 130,
    "y": 200,
    "wires": [
      [
        "eda36f5054531ac9",
        "5ee77c81912491e3"
      ]
    ]
  },
  {
    "id": "eda36f5054531ac9",
    "type": "transpilation-basic-pass-manager",
    "z": "fcd13e60cf7c3c29",
    "name": "",
    "x": 560,
    "y": 200,
    "wires": [
      [
        "86a161272f1abc84"
      ]
    ]
  }
]