nodes/documentation/transpiler/pass-managers/default-settings/flow/default-setting.json
[
  {
    "id": "fcd13e60cf7c3c29",
    "type": "tab",
    "label": "default setting",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "a3e71f75169afe25",
    "type": "transpilation-circuit-for-pm",
    "z": "fcd13e60cf7c3c29",
    "name": "",
    "x": 180,
    "y": 220,
    "wires": [
      [
        "5ee77c81912491e3",
        "7b1165bc8b3ec814"
      ]
    ]
  },
  {
    "id": "7b1165bc8b3ec814",
    "type": "transpilation-basic-pass-manager",
    "z": "fcd13e60cf7c3c29",
    "name": "",
    "x": 520,
    "y": 220,
    "wires": [
      [
        "86a161272f1abc84"
      ]
    ]
  },
  {
    "id": "5ee77c81912491e3",
    "type": "image",
    "z": "fcd13e60cf7c3c29",
    "name": "",
    "width": "600",
    "data": "payload.result.qc_image",
    "dataType": "msg",
    "thumbnail": false,
    "active": true,
    "pass": false,
    "outputs": 0,
    "x": 340,
    "y": 360,
    "wires": []
  },
  {
    "id": "86a161272f1abc84",
    "type": "image",
    "z": "fcd13e60cf7c3c29",
    "name": "",
    "width": "600",
    "data": "payload.result.transpiled_circ_image",
    "dataType": "msg",
    "thumbnail": false,
    "active": true,
    "pass": false,
    "outputs": 0,
    "x": 800,
    "y": 360,
    "wires": []
  },
  {
    "id": "8729822f3284b9f3",
    "type": "inject",
    "z": "fcd13e60cf7c3c29",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 80,
    "y": 60,
    "wires": [
      [
        "a3e71f75169afe25"
      ]
    ]
  }
]