flows/documentation/circuits-and-operators/Classical_feedforward_and_control_flow/while-loop.json
[
    {
        "id": "2223dd71286e972f",
        "type": "tab",
        "label": "while-loop",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3e96ad675dd194f3",
        "type": "inject",
        "z": "2223dd71286e972f",
        "name": "Start",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 120,
        "wires": [
            [
                "3286742c80a57553"
            ]
        ]
    },
    {
        "id": "9720e6e4634c7287",
        "type": "image",
        "z": "2223dd71286e972f",
        "name": "Circuit Diagram",
        "width": "251",
        "data": "payload.result.circuit_diagram",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": false,
        "outputs": 0,
        "x": 720,
        "y": 120,
        "wires": []
    },
    {
        "id": "903624d7aa9194a6",
        "type": "debug",
        "z": "2223dd71286e972f",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 240,
        "wires": []
    },
    {
        "id": "3286742c80a57553",
        "type": "While-loop",
        "z": "2223dd71286e972f",
        "name": "While-loop",
        "info": "A while loop is used to repeat instructions while some condition is satisfied.\n          \nIn the example below, we apply Hadamard gates to two qubits and measure them. Then, we create a while loop that repeats this procedure while the measurement outcome is 11. As a result, the final measurement should never be 11, with the remaining possibilities appearing with approximately equal frequency.",
        "x": 370,
        "y": 120,
        "wires": [
            [
                "9720e6e4634c7287",
                "903624d7aa9194a6"
            ]
        ]
    }
]