interactive-nodes/flows/VQE/qiskit_vqe.json
[
  {
    "id": "2b9884e83e1ab354",
    "type": "tab",
    "label": "Qiskit VQE",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "e3b698eb7e48bed7",
    "type": "Start",
    "z": "2b9884e83e1ab354",
    "name": "",
    "topic": "",
    "repeat": "",
    "x": 90,
    "y": 400,
    "wires": [
      [
        "bd9cb102122028f2"
      ]
    ]
  },
  {
    "id": "e1d7c9edb03f593e",
    "type": "estimator",
    "z": "2b9884e83e1ab354",
    "name": "",
    "variable": "estimator",
    "x": 160,
    "y": 540,
    "wires": [
      [
        "3d3414aca47d5e56"
      ]
    ]
  },
  {
    "id": "d2ebe459d15e56a0",
    "type": "End",
    "z": "2b9884e83e1ab354",
    "name": "",
    "x": 450,
    "y": 560,
    "wires": [
      [
        "902ec98e5a4fbddc",
        "c57a34f448553ef0"
      ]
    ]
  },
  {
    "id": "902ec98e5a4fbddc",
    "type": "debug",
    "z": "2b9884e83e1ab354",
    "name": "result",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 650,
    "y": 620,
    "wires": []
  },
  {
    "id": "be9abd47ef138cbd",
    "type": "print",
    "z": "2b9884e83e1ab354",
    "name": "",
    "variable_name": "result",
    "variable": "result",
    "x": 450,
    "y": 520,
    "wires": [
      [
        "d2ebe459d15e56a0"
      ]
    ]
  },
  {
    "id": "c57a34f448553ef0",
    "type": "image",
    "z": "2b9884e83e1ab354",
    "name": "code",
    "width": "300",
    "data": "payload.result.code_snapshot",
    "dataType": "msg",
    "thumbnail": false,
    "active": true,
    "pass": false,
    "outputs": 0,
    "x": 450,
    "y": 620,
    "wires": []
  },
  {
    "id": "5b2c201e6f911e3e",
    "type": "VQE",
    "z": "2b9884e83e1ab354",
    "name": "VQE algorithm",
    "varResult": "result",
    "estimatorName": "estimator",
    "ansatzName": "ansatz",
    "optimizerName": "COBYLA",
    "operatorName": "operator",
    "x": 420,
    "y": 480,
    "wires": [
      [
        "be9abd47ef138cbd"
      ]
    ]
  },
  {
    "id": "3d3414aca47d5e56",
    "type": "custom_programming",
    "z": "2b9884e83e1ab354",
    "name": "define ansatz",
    "exampleText": "ansatz = EfficientSU2(2)",
    "x": 170,
    "y": 600,
    "wires": [
      [
        "5b2c201e6f911e3e"
      ]
    ]
  },
  {
    "id": "bd9cb102122028f2",
    "type": "sparse-pauli-op",
    "z": "2b9884e83e1ab354",
    "name": "",
    "variable": "operator",
    "terms": "YZ, ZI, ZZ, XX",
    "coefficients": "0.3980, -0.3980, -0.0113, 0.1810",
    "x": 160,
    "y": 480,
    "wires": [
      [
        "e1d7c9edb03f593e"
      ]
    ]
  }
]