interactive-nodes/flows/VQE/qiskit_vqe.json
[
  {
    "id": "81d80c904bd83a92",
    "type": "tab",
    "label": "Qiskit VQE",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "77d74e5e562e63ec",
    "type": "Start",
    "z": "81d80c904bd83a92",
    "name": "",
    "topic": "",
    "repeat": "",
    "x": 250,
    "y": 420,
    "wires": [["fd664defbead3d55"]]
  },
  {
    "id": "fd664defbead3d55",
    "type": "sparse-pauli-op",
    "z": "81d80c904bd83a92",
    "name": "",
    "variable": "operator",
    "terms": "ZZ",
    "coefficients": "1",
    "x": 460,
    "y": 420,
    "wires": [["f38af19c1d99b1e0"]]
  },
  {
    "id": "24283cda68d409ee",
    "type": "Quantum_Circuit_Begin",
    "z": "81d80c904bd83a92",
    "name": "",
    "circuit_name": "qc",
    "cbits": "0",
    "x": 1030,
    "y": 100,
    "wires": [["257f3c8baeeb440d", "6fb69f6b5fa3927d"]]
  },
  {
    "id": "c3d6ab8c07a599d9",
    "type": "Quantum_Circuit_End",
    "z": "81d80c904bd83a92",
    "name": "",
    "x": 3000,
    "y": 120,
    "wires": [["f6f6f6f9863c35e2"]]
  },
  {
    "id": "f6f6f6f9863c35e2",
    "type": "estimator",
    "z": "81d80c904bd83a92",
    "name": "",
    "variable": "estimator",
    "x": 1080,
    "y": 240,
    "wires": [["1b724b3c10a92a32"]]
  },
  {
    "id": "d7d26594ddf855bc",
    "type": "RY_gate",
    "z": "81d80c904bd83a92",
    "name": "",
    "theta": "",
    "mode": "parameters",
    "sequence_no": "",
    "x": 1360,
    "y": 80,
    "wires": [["7adad2570e9b24c9"]]
  },
  {
    "id": "045e5217e7b29c72",
    "type": "RY_gate",
    "z": "81d80c904bd83a92",
    "name": "",
    "theta": "",
    "mode": "parameters",
    "sequence_no": "",
    "x": 1360,
    "y": 120,
    "wires": [["0f4cfe893f20b0dd"]]
  },
  {
    "id": "7adad2570e9b24c9",
    "type": "RZ_gate",
    "z": "81d80c904bd83a92",
    "name": "",
    "theta": "",
    "mode": "parameters",
    "x": 1500,
    "y": 80,
    "wires": [["903a5cd3d377a2bc"]]
  },
  {
    "id": "0f4cfe893f20b0dd",
    "type": "RZ_gate",
    "z": "81d80c904bd83a92",
    "name": "",
    "theta": "",
    "mode": "parameters",
    "x": 1500,
    "y": 120,
    "wires": [["3284918da1468051"]]
  },
  {
    "id": "3284918da1468051",
    "type": "CX_gate",
    "z": "81d80c904bd83a92",
    "name": "",
    "control_qubit": "0",
    "x": 1640,
    "y": 120,
    "wires": [["81c102a97fd8f55d"]]
  },
  {
    "id": "903a5cd3d377a2bc",
    "type": "RY_gate",
    "z": "81d80c904bd83a92",
    "name": "",
    "theta": "",
    "mode": "parameters",
    "x": 1640,
    "y": 80,
    "wires": [["7696500a8b0c88d1"]]
  },
  {
    "id": "81c102a97fd8f55d",
    "type": "RY_gate",
    "z": "81d80c904bd83a92",
    "name": "",
    "theta": "",
    "mode": "parameters",
    "x": 1800,
    "y": 120,
    "wires": [["de6e428433a46cbc"]]
  },
  {
    "id": "7696500a8b0c88d1",
    "type": "RZ_gate",
    "z": "81d80c904bd83a92",
    "name": "",
    "theta": "",
    "mode": "parameters",
    "x": 1800,
    "y": 80,
    "wires": [["5d4dcb5b073e45e8"]]
  },
  {
    "id": "de6e428433a46cbc",
    "type": "RZ_gate",
    "z": "81d80c904bd83a92",
    "name": "",
    "theta": "",
    "mode": "parameters",
    "x": 1940,
    "y": 120,
    "wires": [["2dc886b4094e683f"]]
  },
  {
    "id": "2dc886b4094e683f",
    "type": "CX_gate",
    "z": "81d80c904bd83a92",
    "name": "",
    "control_qubit": "0",
    "x": 2080,
    "y": 120,
    "wires": [["971745bde0c19654"]]
  },
  {
    "id": "5d4dcb5b073e45e8",
    "type": "RY_gate",
    "z": "81d80c904bd83a92",
    "name": "",
    "theta": "",
    "mode": "parameters",
    "x": 1940,
    "y": 80,
    "wires": [["4e682b914ec30595"]]
  },
  {
    "id": "971745bde0c19654",
    "type": "RY_gate",
    "z": "81d80c904bd83a92",
    "name": "",
    "theta": "",
    "mode": "parameters",
    "x": 2220,
    "y": 120,
    "wires": [["f6c353467432708d"]]
  },
  {
    "id": "4e682b914ec30595",
    "type": "RZ_gate",
    "z": "81d80c904bd83a92",
    "name": "",
    "theta": "",
    "mode": "parameters",
    "x": 2080,
    "y": 80,
    "wires": [["119a84e4b49a6e3e"]]
  },
  {
    "id": "f6c353467432708d",
    "type": "RZ_gate",
    "z": "81d80c904bd83a92",
    "name": "",
    "theta": "",
    "mode": "parameters",
    "x": 2360,
    "y": 120,
    "wires": [["61e2ae30d2c0d16e"]]
  },
  {
    "id": "61e2ae30d2c0d16e",
    "type": "CX_gate",
    "z": "81d80c904bd83a92",
    "name": "",
    "control_qubit": "0",
    "x": 2500,
    "y": 120,
    "wires": [["3ee125138a4db126"]]
  },
  {
    "id": "119a84e4b49a6e3e",
    "type": "RY_gate",
    "z": "81d80c904bd83a92",
    "name": "",
    "theta": "",
    "mode": "parameters",
    "x": 2220,
    "y": 80,
    "wires": [["671b7d6f824916d0"]]
  },
  {
    "id": "3ee125138a4db126",
    "type": "RY_gate",
    "z": "81d80c904bd83a92",
    "name": "",
    "theta": "",
    "mode": "parameters",
    "x": 2640,
    "y": 120,
    "wires": [["742abd76a27697c5"]]
  },
  {
    "id": "671b7d6f824916d0",
    "type": "RZ_gate",
    "z": "81d80c904bd83a92",
    "name": "",
    "theta": "",
    "mode": "parameters",
    "x": 2360,
    "y": 80,
    "wires": [["c3d6ab8c07a599d9"]]
  },
  {
    "id": "742abd76a27697c5",
    "type": "RZ_gate",
    "z": "81d80c904bd83a92",
    "name": "",
    "theta": "",
    "mode": "parameters",
    "x": 2780,
    "y": 120,
    "wires": [["c3d6ab8c07a599d9"]]
  },
  {
    "id": "0cf23f559da6068e",
    "type": "End",
    "z": "81d80c904bd83a92",
    "name": "",
    "x": 1590,
    "y": 360,
    "wires": [["e3328f12387e0cc3", "b9ee206ef5335b9d"]]
  },
  {
    "id": "e3328f12387e0cc3",
    "type": "debug",
    "z": "81d80c904bd83a92",
    "name": "result",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1590,
    "y": 420,
    "wires": []
  },
  {
    "id": "f38af19c1d99b1e0",
    "type": "define_parameter",
    "z": "81d80c904bd83a92",
    "name": "",
    "variable": "theta",
    "parameters": "[]",
    "numberOfRepetitions": 1,
    "mode": "randomize",
    "numberOfParams": "16",
    "x": 670,
    "y": 420,
    "wires": [["24283cda68d409ee"]]
  },
  {
    "id": "1b724b3c10a92a32",
    "type": "apply_energy_cost_objective_function",
    "z": "81d80c904bd83a92",
    "name": "",
    "x": 1110,
    "y": 300,
    "wires": [["4ee0354623e56a90"]]
  },
  {
    "id": "4ee0354623e56a90",
    "type": "apply_optimizer",
    "z": "81d80c904bd83a92",
    "name": "",
    "variable": "result",
    "costFunction": "objective_function",
    "circuit": "qc",
    "paramVector": "theta",
    "hamiltonian": "operator",
    "estimator": "estimator",
    "optimizer": "COBYLA",
    "x": 1080,
    "y": 380,
    "wires": [["ec1b430a6ef64fda", "35226cb8da6f1c36"]]
  },
  {
    "id": "ec1b430a6ef64fda",
    "type": "print",
    "z": "81d80c904bd83a92",
    "name": "",
    "variable_name": "result",
    "variable": "result.fun",
    "x": 1590,
    "y": 300,
    "wires": [["0cf23f559da6068e"]]
  },
  {
    "id": "b9ee206ef5335b9d",
    "type": "image",
    "z": "81d80c904bd83a92",
    "name": "code",
    "width": "300",
    "data": "payload.result.code_snapshot",
    "dataType": "msg",
    "thumbnail": false,
    "active": true,
    "pass": false,
    "outputs": 0,
    "x": 1750,
    "y": 420,
    "wires": []
  },
  {
    "id": "35226cb8da6f1c36",
    "type": "debug",
    "z": "81d80c904bd83a92",
    "name": "debug 10",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 1250,
    "y": 440,
    "wires": []
  },
  {
    "id": "257f3c8baeeb440d",
    "type": "qubit",
    "z": "81d80c904bd83a92",
    "name": "",
    "x": 1210,
    "y": 80,
    "wires": [["d7d26594ddf855bc"]]
  },
  {
    "id": "6fb69f6b5fa3927d",
    "type": "qubit",
    "z": "81d80c904bd83a92",
    "name": "",
    "x": 1230,
    "y": 120,
    "wires": [["045e5217e7b29c72"]]
  }
]
