interactive-nodes/flows/VQE/whole_VQE.json
[
  {
    "id": "63b5b7f82ec55597",
    "type": "tab",
    "label": "whole VQE",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "42d049c94d081c1a",
    "type": "whole-VQE",
    "z": "63b5b7f82ec55597",
    "name": "whole-VQE algorithm",
    "numQubit": "1",
    "rotationLayers": "rx",
    "entanglementLayers": "rx",
    "hamiltonianPauli": "[\"II\", \"IZ\", \"ZI\", \"ZZ\", \"XX\"]",
    "hamiltonianCoeffs": "[-1.05237, 0.39793, -0.39793, -0.01128, 0.1809]",
    "optimizer": "SLSQP",
    "maxiter": "50",
    "x": 620,
    "y": 240,
    "wires": [["038360029b4bc58f"]]
  },
  {
    "id": "d90fb85d7577801c",
    "type": "Start",
    "z": "63b5b7f82ec55597",
    "name": "",
    "topic": "",
    "repeat": "",
    "x": 450,
    "y": 240,
    "wires": [["42d049c94d081c1a"]]
  },
  {
    "id": "038360029b4bc58f",
    "type": "debug",
    "z": "63b5b7f82ec55597",
    "name": "debug 12",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 800,
    "y": 240,
    "wires": []
  }
]
