framework/flow.json
[
  {
    "id": "34b7e72f10bfb049",
    "type": "tab",
    "label": "Flow 2",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "e0b3f83cd20de7e9",
    "type": "inject",
    "z": "34b7e72f10bfb049",
    "name": "Start",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 130,
    "y": 80,
    "wires": [["85704c2708ae74f3"]]
  },
  {
    "id": "9bc43c4c6966ed49",
    "type": "Optimizer",
    "z": "34b7e72f10bfb049",
    "name": "Optimizer",
    "option": "COBYLA",
    "x": 120,
    "y": 220,
    "wires": [["bdee09826be9cf45"]]
  },
  {
    "id": "1ea66d33b67b9f94",
    "type": "debug",
    "z": "34b7e72f10bfb049",
    "name": "Algorithm Output",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 410,
    "y": 460,
    "wires": []
  },
  {
    "id": "e919263513adfbd2",
    "type": "script-generation",
    "z": "34b7e72f10bfb049",
    "name": "script-generation",
    "x": 170,
    "y": 460,
    "wires": [
      [
        "1ea66d33b67b9f94",
        "a39a3b267d2763c1",
        "c8fde80e30624064",
        "0cb9e59854d3a03c",
        "428b75f3a597abec",
        "88da098c6483f020"
      ]
    ]
  },
  {
    "id": "bc729120a48f5bf0",
    "type": "Hamiltonian-Construction",
    "z": "34b7e72f10bfb049",
    "name": "Hamiltonian Construction",
    "terms": "ZZI,IZZ",
    "coefficients": "1.0,1.0",
    "x": 170,
    "y": 180,
    "wires": [["9bc43c4c6966ed49"]]
  },
  {
    "id": "85704c2708ae74f3",
    "type": "graph-construction",
    "z": "34b7e72f10bfb049",
    "name": "Graph Construction",
    "matrix": "[[0.0, 1.0, 1.0, 0.0], [1.0, 0.0, 1.0, 1.0], [1.0, 1.0, 0.0, 1.0], [0.0, 1.0, 1.0, 0.0]]",
    "x": 150,
    "y": 140,
    "wires": [["bc729120a48f5bf0"]]
  },
  {
    "id": "bdee09826be9cf45",
    "type": "QAOA",
    "z": "34b7e72f10bfb049",
    "name": "QAOA",
    "reps": "3",
    "x": 110,
    "y": 260,
    "wires": [["e919263513adfbd2", "7cc279311587f9a6"]]
  },
  {
    "id": "7cc279311587f9a6",
    "type": "debug",
    "z": "34b7e72f10bfb049",
    "name": "Data output",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 350,
    "y": 260,
    "wires": []
  },
  {
    "id": "a39a3b267d2763c1",
    "type": "image",
    "z": "34b7e72f10bfb049",
    "name": "Script",
    "width": "500",
    "data": "payload.pythonFileImage",
    "dataType": "msg",
    "thumbnail": false,
    "active": true,
    "pass": false,
    "outputs": 0,
    "x": 890,
    "y": 460,
    "wires": []
  },
  {
    "id": "c8fde80e30624064",
    "type": "image",
    "z": "34b7e72f10bfb049",
    "name": "Initial circuit",
    "width": "500",
    "data": "payload.result.initial_circuit_image",
    "dataType": "msg",
    "thumbnail": false,
    "active": true,
    "pass": false,
    "outputs": 0,
    "x": 390,
    "y": 520,
    "wires": []
  },
  {
    "id": "0cb9e59854d3a03c",
    "type": "image",
    "z": "34b7e72f10bfb049",
    "name": "Optimising circuit steps",
    "width": "500",
    "data": "payload.result.combined_step_image",
    "dataType": "msg",
    "thumbnail": false,
    "active": true,
    "pass": false,
    "outputs": 0,
    "x": 430,
    "y": 1020,
    "wires": []
  },
  {
    "id": "428b75f3a597abec",
    "type": "image",
    "z": "34b7e72f10bfb049",
    "name": "Optimized circuit",
    "width": "500",
    "data": "payload.result.optimized_circuit_image",
    "dataType": "msg",
    "thumbnail": false,
    "active": true,
    "pass": false,
    "outputs": 0,
    "x": 390,
    "y": 1620,
    "wires": []
  },
  {
    "id": "88da098c6483f020",
    "type": "image",
    "z": "34b7e72f10bfb049",
    "name": "Graph",
    "width": "300",
    "data": "payload.result.graph",
    "dataType": "msg",
    "thumbnail": false,
    "active": true,
    "pass": false,
    "outputs": 0,
    "x": 690,
    "y": 120,
    "wires": []
  }
]
