interactive-nodes/prebuilt-flow/QAOA/customised_qaoa.json
[
  {
    "id": "117f74bf0d39bc3a",
    "type": "tab",
    "label": "Flow 5",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "ee691ed1b71b6a70",
    "type": "Start",
    "z": "117f74bf0d39bc3a",
    "name": "",
    "topic": "",
    "repeat": "",
    "x": 210,
    "y": 240,
    "wires": [["cadbefc82ee92ab6"]]
  },
  {
    "id": "256aadab6dc1a76a",
    "type": "Quantum_Circuit_Begin",
    "z": "117f74bf0d39bc3a",
    "name": "",
    "circuit_name": "qc",
    "cbits": "4",
    "x": 1310,
    "y": 320,
    "wires": [["1856850e864fb673"]]
  },
  {
    "id": "45c5dd5e754423c6",
    "type": "H_gate",
    "z": "117f74bf0d39bc3a",
    "name": "",
    "x": 1940,
    "y": 180,
    "wires": [["408c8fbaadc63293"]]
  },
  {
    "id": "1e676275d4390b77",
    "type": "H_gate",
    "z": "117f74bf0d39bc3a",
    "name": "",
    "x": 1940,
    "y": 260,
    "wires": [["cfe1a5e5e002ea3b"]]
  },
  {
    "id": "b7a0c0afd724616b",
    "type": "H_gate",
    "z": "117f74bf0d39bc3a",
    "name": "",
    "x": 1940,
    "y": 360,
    "wires": [["da563aef16df488f"]]
  },
  {
    "id": "b533d056e1ebd824",
    "type": "H_gate",
    "z": "117f74bf0d39bc3a",
    "name": "",
    "x": 1940,
    "y": 440,
    "wires": [["0aab61a5b21bad15"]]
  },
  {
    "id": "404f21aaeddcebd5",
    "type": "End",
    "z": "117f74bf0d39bc3a",
    "name": "",
    "x": 6750,
    "y": 620,
    "wires": [["a564dafe7110ea30", "f7cf0ae1b7df1de4"]]
  },
  {
    "id": "ecf51889ad1ff9f0",
    "type": "Quantum_Circuit_End",
    "z": "117f74bf0d39bc3a",
    "name": "",
    "x": 6400,
    "y": 320,
    "wires": [["4f50f3a919e69a25"]]
  },
  {
    "id": "408c8fbaadc63293",
    "type": "RX_gate",
    "z": "117f74bf0d39bc3a",
    "name": "",
    "theta": "0.647",
    "x": 5940,
    "y": 180,
    "wires": [["7f8c5b411a8db9f3"]]
  },
  {
    "id": "4b955d02b85e3bdd",
    "type": "RX_gate",
    "z": "117f74bf0d39bc3a",
    "name": "",
    "theta": "0.647",
    "x": 5940,
    "y": 260,
    "wires": [["7f8c5b411a8db9f3"]]
  },
  {
    "id": "8f9ee3b0d12357d2",
    "type": "RX_gate",
    "z": "117f74bf0d39bc3a",
    "name": "",
    "theta": "0.647",
    "x": 5940,
    "y": 360,
    "wires": [["7f8c5b411a8db9f3"]]
  },
  {
    "id": "e3d156593d162d03",
    "type": "RX_gate",
    "z": "117f74bf0d39bc3a",
    "name": "",
    "theta": "0.647",
    "x": 5940,
    "y": 440,
    "wires": [["7f8c5b411a8db9f3"]]
  },
  {
    "id": "a564dafe7110ea30",
    "type": "debug",
    "z": "117f74bf0d39bc3a",
    "name": "debug 6",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 6900,
    "y": 620,
    "wires": []
  },
  {
    "id": "ddd5d66d3531bdd8",
    "type": "RZ_gate",
    "z": "117f74bf0d39bc3a",
    "name": "",
    "theta": "",
    "mode": "parameters",
    "x": 2260,
    "y": 260,
    "wires": [["1f1d5863d3f58af6"]]
  },
  {
    "id": "2b46d13ec70e95e7",
    "type": "RZ_gate",
    "z": "117f74bf0d39bc3a",
    "name": "",
    "theta": "",
    "mode": "parameters",
    "x": 2260,
    "y": 360,
    "wires": [["e64aed7c8d40cf07"]]
  },
  {
    "id": "cc7eb8cca04f0fe2",
    "type": "RZ_gate",
    "z": "117f74bf0d39bc3a",
    "name": "",
    "theta": "",
    "mode": "parameters",
    "x": 2260,
    "y": 440,
    "wires": [["9185697b7b436ad6"]]
  },
  {
    "id": "cfe1a5e5e002ea3b",
    "type": "CX_gate",
    "z": "117f74bf0d39bc3a",
    "name": "",
    "control_qubit": "0",
    "x": 2100,
    "y": 260,
    "wires": [["ddd5d66d3531bdd8"]]
  },
  {
    "id": "da563aef16df488f",
    "type": "CX_gate",
    "z": "117f74bf0d39bc3a",
    "name": "",
    "control_qubit": "0",
    "x": 2100,
    "y": 360,
    "wires": [["2b46d13ec70e95e7"]]
  },
  {
    "id": "0aab61a5b21bad15",
    "type": "CX_gate",
    "z": "117f74bf0d39bc3a",
    "name": "",
    "control_qubit": "1",
    "x": 2100,
    "y": 440,
    "wires": [["cc7eb8cca04f0fe2"]]
  },
  {
    "id": "1f1d5863d3f58af6",
    "type": "CX_gate",
    "z": "117f74bf0d39bc3a",
    "name": "",
    "control_qubit": "0",
    "x": 2420,
    "y": 260,
    "wires": [["956cbf3b0f0f74af"]]
  },
  {
    "id": "e64aed7c8d40cf07",
    "type": "CX_gate",
    "z": "117f74bf0d39bc3a",
    "name": "",
    "control_qubit": "0",
    "x": 2420,
    "y": 360,
    "wires": [["0336bc0442243d80"]]
  },
  {
    "id": "9185697b7b436ad6",
    "type": "CX_gate",
    "z": "117f74bf0d39bc3a",
    "name": "",
    "control_qubit": "1",
    "x": 2420,
    "y": 440,
    "wires": [["088353c0e4d7b9b2"]]
  },
  {
    "id": "596ebcd397d2cb36",
    "type": "RZ_gate",
    "z": "117f74bf0d39bc3a",
    "name": "",
    "theta": "",
    "mode": "parameters",
    "x": 2740,
    "y": 260,
    "wires": [["df5cf71723fd92c5"]]
  },
  {
    "id": "956cbf3b0f0f74af",
    "type": "CX_gate",
    "z": "117f74bf0d39bc3a",
    "name": "",
    "control_qubit": "0",
    "x": 2580,
    "y": 260,
    "wires": [["596ebcd397d2cb36"]]
  },
  {
    "id": "df5cf71723fd92c5",
    "type": "CX_gate",
    "z": "117f74bf0d39bc3a",
    "name": "",
    "control_qubit": "0",
    "x": 2900,
    "y": 260,
    "wires": [["acf9674ca1a3d64b"]]
  },
  {
    "id": "5014b87f2822ed0b",
    "type": "RZ_gate",
    "z": "117f74bf0d39bc3a",
    "name": "",
    "theta": "",
    "mode": "parameters",
    "x": 3220,
    "y": 260,
    "wires": [["966344f98350c273"]]
  },
  {
    "id": "acf9674ca1a3d64b",
    "type": "CX_gate",
    "z": "117f74bf0d39bc3a",
    "name": "",
    "control_qubit": "0",
    "x": 3060,
    "y": 260,
    "wires": [["5014b87f2822ed0b"]]
  },
  {
    "id": "966344f98350c273",
    "type": "CX_gate",
    "z": "117f74bf0d39bc3a",
    "name": "",
    "control_qubit": "0",
    "x": 3380,
    "y": 260,
    "wires": [["4b955d02b85e3bdd"]]
  },
  {
    "id": "ff59c1afe72c4fdc",
    "type": "RZ_gate",
    "z": "117f74bf0d39bc3a",
    "name": "",
    "theta": "",
    "mode": "parameters",
    "x": 2740,
    "y": 360,
    "wires": [["7f3914c20ce43ce0"]]
  },
  {
    "id": "0336bc0442243d80",
    "type": "CX_gate",
    "z": "117f74bf0d39bc3a",
    "name": "",
    "control_qubit": "1",
    "x": 2580,
    "y": 360,
    "wires": [["ff59c1afe72c4fdc"]]
  },
  {
    "id": "7f3914c20ce43ce0",
    "type": "CX_gate",
    "z": "117f74bf0d39bc3a",
    "name": "",
    "control_qubit": "1",
    "x": 2900,
    "y": 360,
    "wires": [["735f51bcf1fbe202"]]
  },
  {
    "id": "99e6bc1d064dfa6c",
    "type": "RZ_gate",
    "z": "117f74bf0d39bc3a",
    "name": "",
    "theta": "",
    "mode": "parameters",
    "x": 3220,
    "y": 360,
    "wires": [["1f0712cea11abd05"]]
  },
  {
    "id": "735f51bcf1fbe202",
    "type": "CX_gate",
    "z": "117f74bf0d39bc3a",
    "name": "",
    "control_qubit": "0",
    "x": 3060,
    "y": 360,
    "wires": [["99e6bc1d064dfa6c"]]
  },
  {
    "id": "1f0712cea11abd05",
    "type": "CX_gate",
    "z": "117f74bf0d39bc3a",
    "name": "",
    "control_qubit": "0",
    "x": 3380,
    "y": 360,
    "wires": [["7dece3857340f3ef"]]
  },
  {
    "id": "4de13c6aed3b2cad",
    "type": "RZ_gate",
    "z": "117f74bf0d39bc3a",
    "name": "",
    "theta": "",
    "mode": "parameters",
    "x": 3700,
    "y": 360,
    "wires": [["3f3581cb5a7ba7cd"]]
  },
  {
    "id": "7dece3857340f3ef",
    "type": "CX_gate",
    "z": "117f74bf0d39bc3a",
    "name": "",
    "control_qubit": "1",
    "x": 3540,
    "y": 360,
    "wires": [["4de13c6aed3b2cad"]]
  },
  {
    "id": "3f3581cb5a7ba7cd",
    "type": "CX_gate",
    "z": "117f74bf0d39bc3a",
    "name": "",
    "control_qubit": "1",
    "x": 3860,
    "y": 360,
    "wires": [["24ead70b4239529b"]]
  },
  {
    "id": "e0e37368bf965a72",
    "type": "RZ_gate",
    "z": "117f74bf0d39bc3a",
    "name": "",
    "theta": "",
    "mode": "parameters",
    "x": 4180,
    "y": 360,
    "wires": [["627c433118d241f9"]]
  },
  {
    "id": "24ead70b4239529b",
    "type": "CX_gate",
    "z": "117f74bf0d39bc3a",
    "name": "",
    "control_qubit": "0",
    "x": 4020,
    "y": 360,
    "wires": [["e0e37368bf965a72"]]
  },
  {
    "id": "627c433118d241f9",
    "type": "CX_gate",
    "z": "117f74bf0d39bc3a",
    "name": "",
    "control_qubit": "0",
    "x": 4340,
    "y": 360,
    "wires": [["8039d2bb822a80ec"]]
  },
  {
    "id": "7ae9b1de4a40b356",
    "type": "RZ_gate",
    "z": "117f74bf0d39bc3a",
    "name": "",
    "theta": "",
    "mode": "parameters",
    "x": 4660,
    "y": 360,
    "wires": [["382eaa67584633c2"]]
  },
  {
    "id": "8039d2bb822a80ec",
    "type": "CX_gate",
    "z": "117f74bf0d39bc3a",
    "name": "",
    "control_qubit": "1",
    "x": 4500,
    "y": 360,
    "wires": [["7ae9b1de4a40b356"]]
  },
  {
    "id": "382eaa67584633c2",
    "type": "CX_gate",
    "z": "117f74bf0d39bc3a",
    "name": "",
    "control_qubit": "1",
    "x": 4820,
    "y": 360,
    "wires": [["8f9ee3b0d12357d2"]]
  },
  {
    "id": "409b9760171b41b7",
    "type": "RZ_gate",
    "z": "117f74bf0d39bc3a",
    "name": "",
    "theta": "",
    "mode": "parameters",
    "x": 2740,
    "y": 440,
    "wires": [["7ec95cb9a39204f9"]]
  },
  {
    "id": "088353c0e4d7b9b2",
    "type": "CX_gate",
    "z": "117f74bf0d39bc3a",
    "name": "",
    "control_qubit": "2",
    "x": 2580,
    "y": 440,
    "wires": [["409b9760171b41b7"]]
  },
  {
    "id": "7ec95cb9a39204f9",
    "type": "CX_gate",
    "z": "117f74bf0d39bc3a",
    "name": "",
    "control_qubit": "2",
    "x": 2900,
    "y": 440,
    "wires": [["5d3a288f91febc76"]]
  },
  {
    "id": "c395b3fcacb588f9",
    "type": "RZ_gate",
    "z": "117f74bf0d39bc3a",
    "name": "",
    "theta": "",
    "mode": "parameters",
    "x": 3220,
    "y": 440,
    "wires": [["84853628444fa269"]]
  },
  {
    "id": "5d3a288f91febc76",
    "type": "CX_gate",
    "z": "117f74bf0d39bc3a",
    "name": "",
    "control_qubit": "0",
    "x": 3060,
    "y": 440,
    "wires": [["c395b3fcacb588f9"]]
  },
  {
    "id": "84853628444fa269",
    "type": "CX_gate",
    "z": "117f74bf0d39bc3a",
    "name": "",
    "control_qubit": "0",
    "x": 3380,
    "y": 440,
    "wires": [["9de4f9847ff04b93"]]
  },
  {
    "id": "bd068873d7815dcf",
    "type": "RZ_gate",
    "z": "117f74bf0d39bc3a",
    "name": "",
    "theta": "",
    "mode": "parameters",
    "x": 3700,
    "y": 440,
    "wires": [["e1f39555c2d24f19"]]
  },
  {
    "id": "9de4f9847ff04b93",
    "type": "CX_gate",
    "z": "117f74bf0d39bc3a",
    "name": "",
    "control_qubit": "1",
    "x": 3540,
    "y": 440,
    "wires": [["bd068873d7815dcf"]]
  },
  {
    "id": "e1f39555c2d24f19",
    "type": "CX_gate",
    "z": "117f74bf0d39bc3a",
    "name": "",
    "control_qubit": "1",
    "x": 3860,
    "y": 440,
    "wires": [["d490d407476af38e"]]
  },
  {
    "id": "ef86779296ed899d",
    "type": "RZ_gate",
    "z": "117f74bf0d39bc3a",
    "name": "",
    "theta": "",
    "mode": "parameters",
    "x": 4180,
    "y": 440,
    "wires": [["20a4d7d7f8e3875e"]]
  },
  {
    "id": "d490d407476af38e",
    "type": "CX_gate",
    "z": "117f74bf0d39bc3a",
    "name": "",
    "control_qubit": "2",
    "x": 4020,
    "y": 440,
    "wires": [["ef86779296ed899d"]]
  },
  {
    "id": "20a4d7d7f8e3875e",
    "type": "CX_gate",
    "z": "117f74bf0d39bc3a",
    "name": "",
    "control_qubit": "2",
    "x": 4340,
    "y": 440,
    "wires": [["ce8439877490352a"]]
  },
  {
    "id": "76bcf3d79d49296c",
    "type": "RZ_gate",
    "z": "117f74bf0d39bc3a",
    "name": "",
    "theta": "",
    "mode": "parameters",
    "x": 4660,
    "y": 440,
    "wires": [["19b607d5863a27da"]]
  },
  {
    "id": "ce8439877490352a",
    "type": "CX_gate",
    "z": "117f74bf0d39bc3a",
    "name": "",
    "control_qubit": "0",
    "x": 4500,
    "y": 440,
    "wires": [["76bcf3d79d49296c"]]
  },
  {
    "id": "19b607d5863a27da",
    "type": "CX_gate",
    "z": "117f74bf0d39bc3a",
    "name": "",
    "control_qubit": "0",
    "x": 4820,
    "y": 440,
    "wires": [["ad25b6f1183f1e86"]]
  },
  {
    "id": "6123ef1db2d302f1",
    "type": "RZ_gate",
    "z": "117f74bf0d39bc3a",
    "name": "",
    "theta": "",
    "mode": "parameters",
    "x": 5140,
    "y": 440,
    "wires": [["2a592384e2644bf2"]]
  },
  {
    "id": "ad25b6f1183f1e86",
    "type": "CX_gate",
    "z": "117f74bf0d39bc3a",
    "name": "",
    "control_qubit": "1",
    "x": 4980,
    "y": 440,
    "wires": [["6123ef1db2d302f1"]]
  },
  {
    "id": "2a592384e2644bf2",
    "type": "CX_gate",
    "z": "117f74bf0d39bc3a",
    "name": "",
    "control_qubit": "1",
    "x": 5300,
    "y": 440,
    "wires": [["851702bceb21d699"]]
  },
  {
    "id": "4b80b9ed76af6451",
    "type": "RZ_gate",
    "z": "117f74bf0d39bc3a",
    "name": "",
    "theta": "",
    "mode": "parameters",
    "x": 5620,
    "y": 440,
    "wires": [["04f5db63333ef7f3"]]
  },
  {
    "id": "851702bceb21d699",
    "type": "CX_gate",
    "z": "117f74bf0d39bc3a",
    "name": "",
    "control_qubit": "2",
    "x": 5460,
    "y": 440,
    "wires": [["4b80b9ed76af6451"]]
  },
  {
    "id": "04f5db63333ef7f3",
    "type": "CX_gate",
    "z": "117f74bf0d39bc3a",
    "name": "",
    "control_qubit": "2",
    "x": 5780,
    "y": 440,
    "wires": [["e3d156593d162d03"]]
  },
  {
    "id": "cadbefc82ee92ab6",
    "type": "matrix",
    "z": "117f74bf0d39bc3a",
    "name": "weight_matrix",
    "matrix": "\"[[0.0, 1.0, 1.0, 0.0], [1.0, 0.0, 1.0, 1.0], [1.0, 1.0, 0.0, 1.0], [0.0, 1.0, 1.0, 0.0]]\"",
    "x": 380,
    "y": 240,
    "wires": [["10c8127306035d36", "630799d007a67535"]]
  },
  {
    "id": "7936ae6edbfa7277",
    "type": "extract_most_likely_state",
    "z": "117f74bf0d39bc3a",
    "name": "",
    "variable": "x",
    "state_vector": "optimised_result",
    "num_qubits": "4",
    "x": 6650,
    "y": 540,
    "wires": [["c40ad7272fe442c5"]]
  },
  {
    "id": "c40ad7272fe442c5",
    "type": "apply_objective_value",
    "z": "117f74bf0d39bc3a",
    "name": "",
    "variable": "objective_value",
    "binary_vector": "x",
    "matrix": "weight_matrix",
    "x": 6900,
    "y": 540,
    "wires": [["039fdfec3de36236"]]
  },
  {
    "id": "a354f6c36ae8c332",
    "type": "execute_quantum_circuit_with_sampler",
    "z": "117f74bf0d39bc3a",
    "name": "",
    "circuit_name": "qc",
    "variable": "optimised_result",
    "sampler": "sampler",
    "result": "result",
    "parameterVector": "param_vector",
    "x": 6880,
    "y": 460,
    "wires": [["7936ae6edbfa7277"]]
  },
  {
    "id": "d3b0905580a37fb5",
    "type": "define_sampler",
    "z": "117f74bf0d39bc3a",
    "name": "",
    "variable": "sampler",
    "x": 620,
    "y": 320,
    "wires": [["65c70752033a302a"]]
  },
  {
    "id": "f7cf0ae1b7df1de4",
    "type": "image",
    "z": "117f74bf0d39bc3a",
    "name": "Code Snapshot",
    "width": "500",
    "data": "payload.result.code_snapshot",
    "dataType": "msg",
    "thumbnail": false,
    "active": true,
    "pass": false,
    "outputs": 0,
    "x": 6920,
    "y": 660,
    "wires": []
  },
  {
    "id": "6d1c3034afb556ef",
    "type": "apply_energy_cost_objective_function",
    "z": "117f74bf0d39bc3a",
    "name": "",
    "x": 6690,
    "y": 380,
    "wires": [["b0c629e9cbe01c76"]]
  },
  {
    "id": "039fdfec3de36236",
    "type": "print",
    "z": "117f74bf0d39bc3a",
    "name": "",
    "variable_name": "objective_value",
    "variable": "objective_value",
    "x": 6610,
    "y": 620,
    "wires": [["404f21aaeddcebd5"]]
  },
  {
    "id": "1856850e864fb673",
    "type": "Circuit_Loop_Begin",
    "z": "117f74bf0d39bc3a",
    "name": "",
    "iterations": "2",
    "x": 1550,
    "y": 320,
    "wires": [
      [
        "a75a5068f737c787",
        "de1dab360c2d3c35",
        "6c45840684d05b8f",
        "4db9d5e92dcc23ea"
      ]
    ]
  },
  {
    "id": "7f8c5b411a8db9f3",
    "type": "Circuit_Loop_End",
    "z": "117f74bf0d39bc3a",
    "name": "",
    "x": 6170,
    "y": 320,
    "wires": [["ecf51889ad1ff9f0"]]
  },
  {
    "id": "4f50f3a919e69a25",
    "type": "estimator",
    "z": "117f74bf0d39bc3a",
    "name": "",
    "variable": "estimator",
    "x": 6600,
    "y": 320,
    "wires": [["6d1c3034afb556ef"]]
  },
  {
    "id": "65c70752033a302a",
    "type": "define_parameter",
    "z": "117f74bf0d39bc3a",
    "name": "",
    "variable": "param_vector",
    "parameters": "{\"gamma\":[0.1,0.2],\"beta\":[0.3,0.4]}",
    "numberOfRepetitions": "2",
    "mode": "customize",
    "numberOfParams": "",
    "x": 830,
    "y": 320,
    "wires": [["a176b4e3f0a44a69"]]
  },
  {
    "id": "b0c629e9cbe01c76",
    "type": "apply_optimizer",
    "z": "117f74bf0d39bc3a",
    "name": "",
    "variable": "result",
    "costFunction": "objective_function",
    "circuit": "qc",
    "paramVector": "param_vector",
    "hamiltonian": "operator",
    "estimator": "estimator",
    "optimizer": "COBYLA",
    "x": 6960,
    "y": 380,
    "wires": [["7dd3ec0ca9b599fd"]]
  },
  {
    "id": "a176b4e3f0a44a69",
    "type": "parameter_condition",
    "z": "117f74bf0d39bc3a",
    "name": "",
    "parameter_condition": "{\"RZ_gate\":[{\"value\":\"param_vector[gamma]*2*0.1\",\"parameter\":\"theta\"}],\"RX_gate\":[{\"value\":\"param_vector[beta]*2*0.1\",\"parameter\":\"theta\"}]}",
    "x": 1060,
    "y": 320,
    "wires": [["256aadab6dc1a76a"]]
  },
  {
    "id": "10c8127306035d36",
    "type": "draw-graph",
    "z": "117f74bf0d39bc3a",
    "name": "draw_graph",
    "variable": "graph",
    "matrix": "weight_matrix",
    "x": 370,
    "y": 300,
    "wires": [["29ee6349804f79f2"]]
  },
  {
    "id": "29ee6349804f79f2",
    "type": "Display",
    "z": "117f74bf0d39bc3a",
    "x": 351,
    "y": 363,
    "wires": [["54c04784c09a15d0"]]
  },
  {
    "id": "54c04784c09a15d0",
    "type": "image",
    "z": "117f74bf0d39bc3a",
    "name": "",
    "width": "500",
    "data": "payload.result",
    "dataType": "msg",
    "thumbnail": false,
    "active": true,
    "pass": false,
    "outputs": 0,
    "x": 371,
    "y": 423,
    "wires": []
  },
  {
    "id": "7dd3ec0ca9b599fd",
    "type": "measure_all",
    "z": "117f74bf0d39bc3a",
    "name": "",
    "circuit_name": "qc",
    "num_qbits": "4",
    "num_cbits": "4",
    "x": 6610,
    "y": 460,
    "wires": [["a354f6c36ae8c332"]]
  },
  {
    "id": "630799d007a67535",
    "type": "build_hamiltonian_operator_from_weight_matrix",
    "z": "117f74bf0d39bc3a",
    "name": "build hamiltonian operator from weight matrix",
    "operator": "operator",
    "weight_matrix": "weight_matrix",
    "x": 700,
    "y": 240,
    "wires": [["d3b0905580a37fb5"]]
  },
  {
    "id": "a75a5068f737c787",
    "type": "qubit",
    "z": "117f74bf0d39bc3a",
    "name": "",
    "x": 1790,
    "y": 180,
    "wires": [["45c5dd5e754423c6"]]
  },
  {
    "id": "de1dab360c2d3c35",
    "type": "qubit",
    "z": "117f74bf0d39bc3a",
    "name": "",
    "x": 1790,
    "y": 260,
    "wires": [["1e676275d4390b77"]]
  },
  {
    "id": "6c45840684d05b8f",
    "type": "qubit",
    "z": "117f74bf0d39bc3a",
    "name": "",
    "x": 1790,
    "y": 360,
    "wires": [["b7a0c0afd724616b"]]
  },
  {
    "id": "4db9d5e92dcc23ea",
    "type": "qubit",
    "z": "117f74bf0d39bc3a",
    "name": "",
    "x": 1790,
    "y": 440,
    "wires": [["b533d056e1ebd824"]]
  }
]
