Learning/flows/Transpiler/Configure-Preset-Pass-Managers/Transpilation_optimization.json
[
    {
        "id": "7ac8cf4cc4e5a610",
        "type": "tab",
        "label": "Transpiler optimization",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "eb607f1b85302a51",
        "type": "image",
        "z": "7ac8cf4cc4e5a610",
        "name": "View circuit",
        "width": "200",
        "data": "payload.result.circuit_diagram",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": false,
        "outputs": 0,
        "x": 410,
        "y": 220,
        "wires": []
    },
    {
        "id": "feace14a7e7d4e99",
        "type": "image",
        "z": "7ac8cf4cc4e5a610",
        "name": "View optimization level 0",
        "width": "600",
        "data": "payload.result.circuit_diagram_0",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": false,
        "outputs": 0,
        "x": 870,
        "y": 220,
        "wires": [],
        "info": "The transpiled circuit has six of the two-qubit ECR gates."
    },
    {
        "id": "2a6ee117da08ae3e",
        "type": "image",
        "z": "7ac8cf4cc4e5a610",
        "name": "View approximations circuit",
        "width": "600",
        "data": "payload.result.circuit_diagram",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": false,
        "outputs": 0,
        "x": 1540,
        "y": 260,
        "wires": []
    },
    {
        "id": "8dc803d8567edf96",
        "type": "debug",
        "z": "7ac8cf4cc4e5a610",
        "name": "Synthesis fidelity of Exact",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.result.synthesis_fidelity_exact",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1650,
        "y": 140,
        "wires": []
    },
    {
        "id": "6a32b9861b67070c",
        "type": "debug",
        "z": "7ac8cf4cc4e5a610",
        "name": "Synthesis fidelity of Approximate",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.result.synthesis_fidelity_approx",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1670,
        "y": 200,
        "wires": []
    },
    {
        "id": "95e959387e28f2d6",
        "type": "image",
        "z": "7ac8cf4cc4e5a610",
        "name": "View optimization level 1",
        "width": "600",
        "data": "payload.result.circuit_diagram_1",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": false,
        "outputs": 0,
        "x": 870,
        "y": 400,
        "wires": [],
        "info": "The transpiled circuit still has six ECR gates, but the number of single-qubit gates has reduced."
    },
    {
        "id": "18e0d2839ff9940e",
        "type": "image",
        "z": "7ac8cf4cc4e5a610",
        "name": "View optimization level 3",
        "width": "600",
        "data": "payload.result.circuit_diagram_3",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": false,
        "outputs": 0,
        "x": 870,
        "y": 720,
        "wires": [],
        "info": "Now, there are only three ECR gates."
    },
    {
        "id": "47430aa321209b8a",
        "type": "image",
        "z": "7ac8cf4cc4e5a610",
        "name": "View optimization level 2",
        "width": "600",
        "data": "payload.result.circuit_diagram_2",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": false,
        "outputs": 0,
        "x": 870,
        "y": 580,
        "wires": [],
        "info": "This yields the same results as optimization level 1. Note that increasing the level of optimization does not always make a difference."
    },
    {
        "id": "79f6bc31838f39ac",
        "type": "inject",
        "z": "7ac8cf4cc4e5a610",
        "name": "Start",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 140,
        "wires": [
            [
                "40fa5eb8b431588b"
            ]
        ]
    },
    {
        "id": "60cec21750f05079",
        "type": "move-to-next-node",
        "z": "7ac8cf4cc4e5a610",
        "name": "Next",
        "x": 830,
        "y": 140,
        "wires": [
            [
                "df88567e5ccbc0cd"
            ]
        ]
    },
    {
        "id": "7a9e5003ab0012f2",
        "type": "move-to-next-node",
        "z": "7ac8cf4cc4e5a610",
        "name": "Next",
        "x": 1230,
        "y": 140,
        "wires": [
            [
                "954d03bd6b8d7e2b"
            ]
        ]
    },
    {
        "id": "49089a9735e107d9",
        "type": "move-to-next-node",
        "z": "7ac8cf4cc4e5a610",
        "name": "Next",
        "x": 470,
        "y": 140,
        "wires": [
            [
                "8791fd7ac58d50b9"
            ]
        ]
    },
    {
        "id": "40fa5eb8b431588b",
        "type": "transpilation-random-unitary",
        "z": "7ac8cf4cc4e5a610",
        "name": "Random unitary",
        "x": 280,
        "y": 140,
        "wires": [
            [
                "49089a9735e107d9",
                "eb607f1b85302a51"
            ]
        ]
    },
    {
        "id": "8791fd7ac58d50b9",
        "type": "transpilation-set-optimization",
        "z": "7ac8cf4cc4e5a610",
        "name": "Set optimization",
        "x": 640,
        "y": 140,
        "wires": [
            [
                "60cec21750f05079",
                "feace14a7e7d4e99",
                "95e959387e28f2d6",
                "47430aa321209b8a",
                "18e0d2839ff9940e"
            ]
        ]
    },
    {
        "id": "df88567e5ccbc0cd",
        "type": "transpilation-fewer-gates-approx",
        "z": "7ac8cf4cc4e5a610",
        "name": "Fewer gates approx",
        "x": 1020,
        "y": 140,
        "wires": [
            [
                "7a9e5003ab0012f2",
                "2a6ee117da08ae3e"
            ]
        ]
    },
    {
        "id": "954d03bd6b8d7e2b",
        "type": "transpilation-synthesis-fidelity",
        "z": "7ac8cf4cc4e5a610",
        "name": "Synthesis fidelity",
        "x": 1410,
        "y": 140,
        "wires": [
            [
                "8dc803d8567edf96",
                "6a32b9861b67070c"
            ]
        ]
    }
]