Learning/flows/Transpiler/Configure-Preset-Pass-Managers/Transpilation_default_settings.json
[
    {
        "id": "fcd13e60cf7c3c29",
        "type": "tab",
        "label": "Transpilation default settings",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5ee77c81912491e3",
        "type": "image",
        "z": "fcd13e60cf7c3c29",
        "name": "View circuit",
        "width": "450",
        "data": "payload.result.circuit_diagram",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": false,
        "outputs": 0,
        "x": 450,
        "y": 260,
        "wires": []
    },
    {
        "id": "86a161272f1abc84",
        "type": "image",
        "z": "fcd13e60cf7c3c29",
        "name": "View transpiled circuit",
        "width": "600",
        "data": "payload.result.circuit_diagram",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": false,
        "outputs": 0,
        "x": 960,
        "y": 200,
        "wires": []
    },
    {
        "id": "1ff3f2d0607d4ef6",
        "type": "inject",
        "z": "fcd13e60cf7c3c29",
        "name": "Start",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 200,
        "wires": [
            [
                "b471f2be372bd071"
            ]
        ]
    },
    {
        "id": "e2ba4461667fe7ea",
        "type": "move-to-next-node",
        "z": "fcd13e60cf7c3c29",
        "name": "Next",
        "x": 470,
        "y": 200,
        "wires": [
            [
                "3fd4bee78f0f9131"
            ]
        ]
    },
    {
        "id": "b471f2be372bd071",
        "type": "transpilation-circuit-for-pm",
        "z": "fcd13e60cf7c3c29",
        "name": "Create circuit",
        "x": 270,
        "y": 200,
        "wires": [
            [
                "e2ba4461667fe7ea",
                "5ee77c81912491e3"
            ]
        ]
    },
    {
        "id": "3fd4bee78f0f9131",
        "type": "transpilation-basic-pass-manager",
        "z": "fcd13e60cf7c3c29",
        "name": "Basic pass manager",
        "x": 700,
        "y": 200,
        "wires": [
            [
                "86a161272f1abc84"
            ]
        ]
    }
]