nodes/algorithms/AmplificationProblem/flow/AmplificationProblem-Default-Flow.json
[
    {
        "id": "f3a858fd71a3bec1",
        "type": "tab",
        "label": "AmplificationProblem-Default-Flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d6ce38305b234e05",
        "type": "inject",
        "z": "f3a858fd71a3bec1",
        "name": "target",
        "props": [
            {
                "p": "payload.target",
                "v": "11",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 210,
        "y": 240,
        "wires": [
            [
                "1266a8b0dbf676ad"
            ]
        ]
    },
    {
        "id": "1f2bd93af85af399",
        "type": "debug",
        "z": "f3a858fd71a3bec1",
        "name": "oracle_evaluation",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.result.oracle_evaluation",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 140,
        "wires": []
    },
    {
        "id": "e305a7a642c76780",
        "type": "debug",
        "z": "f3a858fd71a3bec1",
        "name": "top_measurement",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.result.top_measurement",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 200,
        "wires": []
    },
    {
        "id": "8291524bd51cc101",
        "type": "debug",
        "z": "f3a858fd71a3bec1",
        "name": "circuit_results",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.result.circuit_results",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 260,
        "wires": []
    },
    {
        "id": "8bb08d9cc46a1c9c",
        "type": "debug",
        "z": "f3a858fd71a3bec1",
        "name": "all_parameter",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.result",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 60,
        "wires": []
    },
    {
        "id": "1266a8b0dbf676ad",
        "type": "AmplificationProblem",
        "z": "f3a858fd71a3bec1",
        "name": "Grover",
        "oracleType": "QuantumCircuit",
        "iterators": "None",
        "input": "123,123,123,123",
        "growthRate": "0.2",
        "sampleFromIterations": "False",
        "x": 430,
        "y": 240,
        "wires": [
            [
                "be18094ed1edb914",
                "d075f306e3f785ff",
                "1f2bd93af85af399",
                "e305a7a642c76780",
                "8291524bd51cc101"
            ]
        ]
    },
    {
        "id": "be18094ed1edb914",
        "type": "image",
        "z": "f3a858fd71a3bec1",
        "name": "",
        "width": "600",
        "data": "payload.result.circuit_image",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": false,
        "outputs": 0,
        "x": 940,
        "y": 320,
        "wires": []
    },
    {
        "id": "d075f306e3f785ff",
        "type": "image",
        "z": "f3a858fd71a3bec1",
        "name": "",
        "width": "600",
        "data": "payload.result.circuit_results_image",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": false,
        "outputs": 0,
        "x": 960,
        "y": 640,
        "wires": []
    }
]