flows/documentation/circuits-and-operators/Circuit_Library/Data-encoding-circuits.json
[
    {
        "id": "2223dd71286e972f",
        "type": "tab",
        "label": "Data-encoding-circuits",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3e96ad675dd194f3",
        "type": "inject",
        "z": "2223dd71286e972f",
        "name": "Start",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 40,
        "wires": [
            [
                "933667a139a5e9d6"
            ]
        ]
    },
    {
        "id": "9720e6e4634c7287",
        "type": "image",
        "z": "2223dd71286e972f",
        "name": "",
        "width": "600",
        "data": "payload.result.circuit_diagram",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": false,
        "outputs": 0,
        "x": 580,
        "y": 80,
        "wires": []
    },
    {
        "id": "79f531ac9a9e5578",
        "type": "debug",
        "z": "2223dd71286e972f",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 100,
        "y": 260,
        "wires": []
    },
    {
        "id": "933667a139a5e9d6",
        "type": "Data-encoding-circuits",
        "z": "2223dd71286e972f",
        "name": "Data-encoding-circuits",
        "info": "These parameterized circuits encode data onto quantum states for processing by quantum machine learning algorithms. Some circuits supported by Qiskit are:\n          \n- Amplitude encoding, which encodes each number into the amplitude of a basis state. This can store 2^n numbers in a single state, but can be costly to implement.\n          \n- Basis encoding, which encodes an integer k by preparing the corresponding basis state |k⟩.\n          \n- Angle encoding, which sets each number in the data as a rotation angle in a parameterized circuit.\n          \nThe best approach depends upon the specifics of your application. On current quantum computers, however, we often use angle-encoding circuits such as the ZZFeatureMap.\n          ",
        "x": 340,
        "y": 120,
        "wires": [
            [
                "9720e6e4634c7287",
                "79f531ac9a9e5578"
            ]
        ]
    }
]