flows/documentation/circuits-and-operators/Circuit_Library/Standard_gates.json
[
    {
        "id": "2223dd71286e972f",
        "type": "tab",
        "label": "Standard-Gates",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3e96ad675dd194f3",
        "type": "inject",
        "z": "2223dd71286e972f",
        "name": "Start",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 40,
        "wires": [
            [
                "d208cf4d344bdceb"
            ]
        ]
    },
    {
        "id": "9720e6e4634c7287",
        "type": "image",
        "z": "2223dd71286e972f",
        "name": "",
        "width": "600",
        "data": "payload.result.circuit_diagram",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": false,
        "outputs": 0,
        "x": 580,
        "y": 80,
        "wires": []
    },
    {
        "id": "79f531ac9a9e5578",
        "type": "debug",
        "z": "2223dd71286e972f",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 100,
        "y": 260,
        "wires": []
    },
    {
        "id": "d208cf4d344bdceb",
        "type": "Standard-Gates",
        "z": "2223dd71286e972f",
        "name": "Standard-Gates",
        "info": "The circuit library also includes standard quantum gates. Some are more fundamental gates (such as the UGate), \n        and others are multi-qubit gates that usually need building from single- and two-qubit gates. To add imported gates to your\n        circuit, use the append method; the first argument is the gate, and the next argument is a list of qubits to apply the gate to.\n        For example, the following code cell creates a circuit with a Hadamard gate and a multi-controlled-X gate.",
        "x": 340,
        "y": 140,
        "wires": [
            [
                "9720e6e4634c7287",
                "79f531ac9a9e5578"
            ]
        ]
    }
]