flows/documentation/circuits-and-operators/Circuit_Library/Time-evolution-circuits.json
[
    {
        "id": "2223dd71286e972f",
        "type": "tab",
        "label": "Time-evolution-circuits",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3e96ad675dd194f3",
        "type": "inject",
        "z": "2223dd71286e972f",
        "name": "Start",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 40,
        "wires": [
            [
                "3de478f9471359f9"
            ]
        ]
    },
    {
        "id": "9720e6e4634c7287",
        "type": "image",
        "z": "2223dd71286e972f",
        "name": "",
        "width": "600",
        "data": "payload.result.circuit_diagram",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": false,
        "outputs": 0,
        "x": 580,
        "y": 80,
        "wires": []
    },
    {
        "id": "79f531ac9a9e5578",
        "type": "debug",
        "z": "2223dd71286e972f",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 100,
        "y": 260,
        "wires": []
    },
    {
        "id": "3de478f9471359f9",
        "type": "Time-evolution-circuits",
        "z": "2223dd71286e972f",
        "name": "Time-evolution-circuits",
        "info": "These circuits simulate a quantum state evolving in time. \n          Use time-evolution circuits to investigate physical effects such \n          as heat transfer or phase transitions in a system. Time-evolution \n          circuits are also a fundamental building block of chemistry wave functions \n          (such as unitary coupled-cluster trial states) and of the QAOA algorithm \n          we use for optimization problems.",
        "x": 300,
        "y": 140,
        "wires": [
            [
                "9720e6e4634c7287",
                "79f531ac9a9e5578"
            ]
        ]
    }
]