nodes/documentation/circuits-and-operators/operator-class/flow/flow.json
[
  {
    "id": "688947b1f997c20d",
    "type": "tab",
    "label": "Flow 4",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "de7a75a33a94e71d",
    "type": "Operator-From-Pauli",
    "z": "688947b1f997c20d",
    "name": "",
    "pauli": "XX",
    "x": 420,
    "y": 240,
    "wires": [["29640658bf42dbc9", "990715c3f4d41b66"]]
  },
  {
    "id": "990715c3f4d41b66",
    "type": "Operator-For-Gate-Object",
    "z": "688947b1f997c20d",
    "name": "",
    "x": 930,
    "y": 240,
    "wires": [["5d2b1459ee611795", "fcdd96b0956f7c66"]]
  },
  {
    "id": "5d2b1459ee611795",
    "type": "Operator-From-Parameterized-Gate-Object",
    "z": "688947b1f997c20d",
    "name": "",
    "x": 410,
    "y": 500,
    "wires": [["0cd7d3722c9d8d12", "b1a0dcead3b7f47c"]]
  },
  {
    "id": "095831ded64a6331",
    "type": "inject",
    "z": "688947b1f997c20d",
    "name": "Start",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 110,
    "y": 240,
    "wires": [["de7a75a33a94e71d"]]
  },
  {
    "id": "29640658bf42dbc9",
    "type": "debug",
    "z": "688947b1f997c20d",
    "name": "Output",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 310,
    "y": 400,
    "wires": []
  },
  {
    "id": "fcdd96b0956f7c66",
    "type": "debug",
    "z": "688947b1f997c20d",
    "name": "Output",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1170,
    "y": 240,
    "wires": []
  },
  {
    "id": "0cd7d3722c9d8d12",
    "type": "debug",
    "z": "688947b1f997c20d",
    "name": "Output",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 390,
    "y": 600,
    "wires": []
  },
  {
    "id": "4766bb741ddb1818",
    "type": "inject",
    "z": "688947b1f997c20d",
    "name": "Start",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 130,
    "y": 720,
    "wires": [["c8cc38d1c4f2ed50"]]
  },
  {
    "id": "c8cc38d1c4f2ed50",
    "type": "Use-Unitary-Operator-In-Circuit",
    "z": "688947b1f997c20d",
    "name": "",
    "pauli": "XX",
    "x": 410,
    "y": 720,
    "wires": [["bdc3ee3cc63af894", "01f2717d36df4615"]]
  },
  {
    "id": "bdc3ee3cc63af894",
    "type": "Use-Pauli-In-Circuit",
    "z": "688947b1f997c20d",
    "name": "",
    "pauli": "XX",
    "x": 850,
    "y": 720,
    "wires": [["c3d908f5e529bce2"]]
  },
  {
    "id": "fd6f0f75f44ce28d",
    "type": "inject",
    "z": "688947b1f997c20d",
    "name": "Start",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 110,
    "y": 980,
    "wires": [["ff964a7cf834bab8"]]
  },
  {
    "id": "ff964a7cf834bab8",
    "type": "Tensor-Product",
    "z": "688947b1f997c20d",
    "name": "",
    "pauli_1": "X",
    "pauli_2": "Z",
    "x": 300,
    "y": 980,
    "wires": [["f92de86c530d8246", "aacffe42d6da1316"]]
  },
  {
    "id": "aacffe42d6da1316",
    "type": "Tensor-Expansion",
    "z": "688947b1f997c20d",
    "name": "",
    "pauli_1": "X",
    "pauli_2": "Z",
    "x": 610,
    "y": 980,
    "wires": [["921a86dc5dd30d70", "af629afc407fd123"]]
  },
  {
    "id": "af629afc407fd123",
    "type": "Composition",
    "z": "688947b1f997c20d",
    "name": "",
    "pauli_1": "X",
    "pauli_2": "Z",
    "x": 930,
    "y": 980,
    "wires": [["8097fb4fdb0327a9", "08bc843fe9020d52"]]
  },
  {
    "id": "08bc843fe9020d52",
    "type": "Subsystem-Composition",
    "z": "688947b1f997c20d",
    "name": "",
    "x": 330,
    "y": 1240,
    "wires": [["09f057251bd6e20f", "68e835a7821efba2"]]
  },
  {
    "id": "68e835a7821efba2",
    "type": "Linear-Combinations",
    "z": "688947b1f997c20d",
    "name": "",
    "x": 640,
    "y": 1240,
    "wires": [["a88afa7f44f125db"]]
  },
  {
    "id": "f92de86c530d8246",
    "type": "debug",
    "z": "688947b1f997c20d",
    "name": "Output",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 290,
    "y": 1100,
    "wires": []
  },
  {
    "id": "921a86dc5dd30d70",
    "type": "debug",
    "z": "688947b1f997c20d",
    "name": "Output",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 590,
    "y": 1100,
    "wires": []
  },
  {
    "id": "8097fb4fdb0327a9",
    "type": "debug",
    "z": "688947b1f997c20d",
    "name": "Output",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 930,
    "y": 1100,
    "wires": []
  },
  {
    "id": "09f057251bd6e20f",
    "type": "debug",
    "z": "688947b1f997c20d",
    "name": "Output",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 310,
    "y": 1340,
    "wires": []
  },
  {
    "id": "a88afa7f44f125db",
    "type": "debug",
    "z": "688947b1f997c20d",
    "name": "Output",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 630,
    "y": 1340,
    "wires": []
  },
  {
    "id": "adb92e28dc322ef5",
    "type": "inject",
    "z": "688947b1f997c20d",
    "name": "Start",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 110,
    "y": 1520,
    "wires": [["2b88288c47505ee5"]]
  },
  {
    "id": "2b88288c47505ee5",
    "type": "Equality-Operator",
    "z": "688947b1f997c20d",
    "name": "",
    "x": 350,
    "y": 1520,
    "wires": [["8a076f66ef6855aa", "f6575523d9456468"]]
  },
  {
    "id": "8a076f66ef6855aa",
    "type": "Process-Fidelity",
    "z": "688947b1f997c20d",
    "name": "",
    "x": 640,
    "y": 1520,
    "wires": [["f227b3a2d10cb733"]]
  },
  {
    "id": "f6575523d9456468",
    "type": "debug",
    "z": "688947b1f997c20d",
    "name": "Output",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 350,
    "y": 1620,
    "wires": []
  },
  {
    "id": "f227b3a2d10cb733",
    "type": "debug",
    "z": "688947b1f997c20d",
    "name": "Output",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 650,
    "y": 1620,
    "wires": []
  },
  {
    "id": "01f2717d36df4615",
    "type": "image",
    "z": "688947b1f997c20d",
    "name": "",
    "width": "300",
    "data": "payload.result.circuit_image",
    "dataType": "msg",
    "thumbnail": false,
    "active": true,
    "pass": false,
    "outputs": 0,
    "x": 400,
    "y": 780,
    "wires": []
  },
  {
    "id": "c3d908f5e529bce2",
    "type": "image",
    "z": "688947b1f997c20d",
    "name": "",
    "width": "300",
    "data": "payload.result.circuit_image",
    "dataType": "msg",
    "thumbnail": false,
    "active": true,
    "pass": false,
    "outputs": 0,
    "x": 860,
    "y": 780,
    "wires": []
  },
  {
    "id": "b1a0dcead3b7f47c",
    "type": "Operator-From-Quantum-Circuit-Object",
    "z": "688947b1f997c20d",
    "name": "",
    "x": 960,
    "y": 500,
    "wires": [["fdd1c93050569895"]]
  },
  {
    "id": "fdd1c93050569895",
    "type": "debug",
    "z": "688947b1f997c20d",
    "name": "Output",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 970,
    "y": 600,
    "wires": []
  }
]
