nodes/documentation/circuits-and-operators/operators-module-overview/flow/flow.json
[
  {
    "id": "5fd5b59e1e696733",
    "type": "tab",
    "label": "Flow 3",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "7315c5bfa132afb3",
    "type": "sparse-pauli-op-operations",
    "z": "5fd5b59e1e696733",
    "name": "",
    "op1": "[(\"ZX\", [1, 4], 1.0), (\"YY\", [0, 3], -1 + 1j)]",
    "op1_num_qubits": "5",
    "op2": "[(\"XXZ\", [0, 1, 4], 1 + 2j), (\"ZZ\", [1, 2], -1 + 1j)]",
    "op2_num_qubits": "5",
    "x": 600,
    "y": 260,
    "wires": [["46a0cd1969ba0583"]]
  },
  {
    "id": "46a0cd1969ba0583",
    "type": "debug",
    "z": "5fd5b59e1e696733",
    "name": "Output",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload.result",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 930,
    "y": 260,
    "wires": []
  },
  {
    "id": "98a1fb847a804873",
    "type": "inject",
    "z": "5fd5b59e1e696733",
    "name": "Start",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 270,
    "y": 260,
    "wires": [["7315c5bfa132afb3"]]
  },
  {
    "id": "10f34d3ec3a6246b",
    "type": "inject",
    "z": "5fd5b59e1e696733",
    "name": "Start",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 250,
    "y": 420,
    "wires": [["667bec09b632eebe"]]
  },
  {
    "id": "581e932be2fdc610",
    "type": "debug",
    "z": "5fd5b59e1e696733",
    "name": "Output",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 930,
    "y": 420,
    "wires": []
  },
  {
    "id": "667bec09b632eebe",
    "type": "Pauli-Operations",
    "z": "5fd5b59e1e696733",
    "name": "",
    "operator": "iXX",
    "x": 570,
    "y": 420,
    "wires": [["581e932be2fdc610"]]
  },
  {
    "id": "225defc26f4be55d",
    "type": "Operators",
    "z": "5fd5b59e1e696733",
    "name": "",
    "matrix": "[[0, 0, 0, 1],[0, 0, 1, 0],[0, 1, 0, 0],[1, 0, 0, 0]]",
    "x": 560,
    "y": 540,
    "wires": [["3913dc5ef7f69340"]]
  },
  {
    "id": "dd1313aca6641ded",
    "type": "inject",
    "z": "5fd5b59e1e696733",
    "name": "Start",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 250,
    "y": 540,
    "wires": [["225defc26f4be55d"]]
  },
  {
    "id": "3913dc5ef7f69340",
    "type": "debug",
    "z": "5fd5b59e1e696733",
    "name": "Output",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 930,
    "y": 540,
    "wires": []
  }
]
