flows/documentation/circuits-and-operators/Construct_circuits/Parameterised-circuits.json
[
    {
        "id": "2223dd71286e972f",
        "type": "tab",
        "label": "Parameterised-circuits",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3e96ad675dd194f3",
        "type": "inject",
        "z": "2223dd71286e972f",
        "name": "Start",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 40,
        "wires": [
            [
                "537e1894c13fbcf7"
            ]
        ]
    },
    {
        "id": "9720e6e4634c7287",
        "type": "image",
        "z": "2223dd71286e972f",
        "name": "Circuit Diagram",
        "width": "251",
        "data": "payload.result.circuit_diagram",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": false,
        "outputs": 0,
        "x": 700,
        "y": 100,
        "wires": [],
        "info": "The easiest way to view this information is through the draw method, which returns a visualization of a circuit. See Visualize circuits for different ways of displaying quantum circuits."
    },
    {
        "id": "537e1894c13fbcf7",
        "type": "parameterised-circuits",
        "z": "2223dd71286e972f",
        "name": "parameterised-circuits",
        "info": "Many near-term quantum algorithms involve executing many variations of a quantum circuit. Since constructing and optimizing large circuits can be computationally expensive, Qiskit supports parameterized circuits. These circuits have undefined parameters, and their values do not need to be defined until just before executing the circuit. This lets you move circuit construction and optimization out of the main program loop. The following cell creates and displays a parameterized circuit.",
        "x": 420,
        "y": 60,
        "wires": [
            [
                "9720e6e4634c7287",
                "20a1b5b84956a621"
            ]
        ]
    },
    {
        "id": "20a1b5b84956a621",
        "type": "debug",
        "z": "2223dd71286e972f",
        "name": "Parameters",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload.result.parameters",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 590,
        "y": 320,
        "wires": []
    }
]