flows/documentation/circuits-and-operators/Construct_circuits/quantum-circuit.json
[
    {
        "id": "2223dd71286e972f",
        "type": "tab",
        "label": "Qunatum-circuits",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3e96ad675dd194f3",
        "type": "inject",
        "z": "2223dd71286e972f",
        "name": "Start",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 40,
        "wires": [
            [
                "6b14737e479491c5"
            ]
        ]
    },
    {
        "id": "9720e6e4634c7287",
        "type": "image",
        "z": "2223dd71286e972f",
        "name": "X gate image",
        "width": "200",
        "data": "payload.result.circuit_diagram",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": false,
        "outputs": 0,
        "x": 690,
        "y": 240,
        "wires": [],
        "info": "The easiest way to view this information is through the draw method, which returns a visualization of a circuit. See Visualize circuits for different ways of displaying quantum circuits."
    },
    {
        "id": "79f531ac9a9e5578",
        "type": "debug",
        "z": "2223dd71286e972f",
        "name": "Output 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload.result.result",
        "targetType": "msg",
        "statusVal": "payload.result.result",
        "statusType": "msg",
        "x": 680,
        "y": 120,
        "wires": []
    },
    {
        "id": "6b14737e479491c5",
        "type": "quantum-circuits",
        "z": "2223dd71286e972f",
        "name": "quantum-circuits",
        "info": "A simple quantum circuit is a collection of qubits and a list of instructions that act on those qubits. To demonstrate, the following cell creates a new circuit with two new qubits, then displays the circuit's qubits attribute.",
        "x": 400,
        "y": 120,
        "wires": [
            [
                "79f531ac9a9e5578",
                "3f34255d4840b791"
            ]
        ]
    },
    {
        "id": "3f34255d4840b791",
        "type": "add-x-gate",
        "z": "2223dd71286e972f",
        "name": "add-x-gate",
        "info": "Adding an instruction to the circuit appends the instruction to the circuit's data attribute. The following cell output shows data is a list of CircuitInstruction objects, each of which has an operation attribute, and a qubits attribute.",
        "x": 390,
        "y": 240,
        "wires": [
            [
                "9720e6e4634c7287",
                "bd53403d76fd6f34",
                "ceb166be775cca88"
            ]
        ]
    },
    {
        "id": "bd53403d76fd6f34",
        "type": "debug",
        "z": "2223dd71286e972f",
        "name": "Output 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload.result.result",
        "statusType": "msg",
        "x": 700,
        "y": 520,
        "wires": [],
        "info": "Adding an instruction to the circuit appends the instruction to the circuit's data attribute. The following cell output shows data is a list of CircuitInstruction objects, each of which has an operation attribute, and a qubits attribute."
    },
    {
        "id": "ceb166be775cca88",
        "type": "definition",
        "z": "2223dd71286e972f",
        "name": "definition opreator",
        "info": "Circuit instruction objects can contain \"definition\" circuits that describe the instruction in terms of more fundamental instructions. For example, the X-gate is defined as a specific case of the U3-gate, a more general single-qubit gate.",
        "x": 390,
        "y": 520,
        "wires": [
            [
                "b5e91e39e0d2e62f"
            ]
        ]
    },
    {
        "id": "b5e91e39e0d2e62f",
        "type": "image",
        "z": "2223dd71286e972f",
        "name": "Defintiion Image",
        "width": "200",
        "data": "payload.result.circuit_diagram",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": false,
        "outputs": 0,
        "x": 720,
        "y": 640,
        "wires": []
    }
]